<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <!-- <li class="breadcrumb-item"><a href="/tasks">Activities</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./pathwayTasks">Tasks</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./op">Operations Tasks</a></li> -->
  <li class="breadcrumb-item active"><a href="/tasks/pathwayTasks">Classroom Resources</a></li>
  <li class="breadcrumb-item active">Banana Bread Bake Off</li>
</ol>

<main>

  <!-- Tasks Header -->
  <section class="container learningPathWays-title">
    <div class="row padding-bottom">
      <div class="col-sm-3 col-md-3 display-flex">
        <div id="triangle-bottomright" class="triangle-bottomright-purple"></div>
        <div id="rectangle" class="display-flex rectangle-purple">
          <p></p>
        </div>
        <div id="triangle-topleft" class="triangle-topleft-purple"></div>
      </div>
      <div class="col-sm-6 col-md-6">
        
      </div>
      <div class="col-sm-3 col-md-3">
        <figure>
          <a href="/#pathway-purple"><img src="/images/Fractions-Learning_pathway-purple.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
        </figure>
      </div>
    </div> <!-- End div.row -->
  </section>
  <!-- End Tasks Header -->

  <section class="container dot-lists pdf-page ">
    <!-- PDF page Section -->
    <section class="row gen-pdf-container">
      <div class="gen-pdf">
        <a href="/pdf/addSubFrac/Add Sub Fractions across the K12 Curr AODA.pdf" target="_blank">Download PDF</a>
      </div>
    </section>

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h3 style="text-align:center;">Math Teaching for Learning:</h3>
        <h3 style="text-align:center;">Addition and Subtraction of Fractions across the K-12 Mathematics Curriculum</h3>
      </div>
    </section>

    <section class="row">
      <p>Within the <a href="https://fractions2019.herokuapp.com/pdf/Fractions%20Learning%20Pathway.pdf"> Fractions Learning Pathways</a>, six cells specify the foundational actions that support
          student understanding of addition and subtraction of fractions. This support document is intended to
          provide a K-12 perspective on the role of adding and subtracting fractions in students’ learning.</p>

      <p>Studies have shown “if children are given the time to develop their own reasoning for at least three
          years without being taught standard algorithms for operations with fractions and ratios, then a
          dramatic increase in their reasoning abilities occurred, including their proportional thinking” (Brown &
          Quinn, 2006, p. 39, citing Lamon, 1999).</p>
    </section>

    <section class="row">
     <br> <h4>Connecting Addition and Subtraction to Counting by Unit Fractions and Composing/Decomposing Fractions</h4>
      <p>Intuitive understanding of addition and subtraction of fractions is developed by students’ initial
          experiences with fraction representation. For example, in the following rectangle, a student may
          identify that <abbr title="one third" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>5</sub></span></abbr> of the total area is shaded. At the same time, they will recognize that
          <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>5</sub></span></abbr> of the total area is unshaded and therefore, 
          <abbr title="one third" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>3</sub></span></abbr> + <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>5</sub></span></abbr> = 1 whole</p>
    </section>

    <section class="row">
      <br> <h4>Addition and Subtraction with Like Denominators</h4>
        <div class="darkblue">
          <p> <strong> What does this look like in the Ontario Mathematics Curriculum (Specific Expectations)? <br>  Students will: </strong><br>
            Grade 2: regroup fractional parts into wholes, using concrete materials. <br>
            Grade 5: represent, compare, and order fractional amounts with like denominators, including proper and improper fraction and mixed numbers, using a variety of tools and using standard fractional notation.<br>
            Grade 7: use a variety of mental strategies to solve problems involving the addition and subtraction of fractions and decimals. <br>
            Grade 12: recognize and describe an event as a set of outcomes and as a subset of a sample space, determine the complement of an event, determine whether two or more events are mutually exclusive or non-mutually
            exclusive. (MDM 4U)  </p>
        </div>
    </section>

    <section class="row">
      <br> <p>As with all addition and subtraction, the fractions being added or subtracted require being expressed
          in a common unit. <br> <br> When students combine fractions with like denominators, understanding of the numerator as the
          count and the denominator as the fractional unit is reinforced. Through exploration, students are able
          to consider flexible strategies for addition of fractions, including combining fractions to make wholes. For example, consider <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>7</sub></span></abbr> +
          <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>7</sub></span></abbr> + <abbr title="one third" class="abbr-frac"><span class="frac"><sup>6</sup><span>&frasl;</span><sub>7</sub></span></abbr>. Combining 
          <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>7</sub></span></abbr> + <abbr title="one third" class="abbr-frac"><span class="frac"><sup>6</sup><span>&frasl;</span><sub>7</sub></span></abbr> to make a whole and then adding
          <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>7</sub></span></abbr> for a final answer of 1 <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>7</sub></span></abbr>. Alternatively, 
          students could use a counting on strategy, demonstrated here on the number line.</p>
          <img src="/images/addSubFrac/fraction-04.jpg" alt="Fractions Picture" width="100%">
    </section>

    <section class="row">
      <div class="darkblue">
          <p> <strong> What does this look like in the Ontario Mathematics Curriculum (Specific Expectations)? <br>  Students will: </strong><br>
            Grade 2: determine, through investigation using concrete materials, the relationship between the number of fractional parts of a whole and the size of the fractional parts. <br>
            Grade 4: compare and order fractions by considering the size and the number of fractional parts.<br>
            Grade 7: add and subtract fractions with simple like and unlike denominators, using a variety of tools<br>
            Grade 12: measure, using a variety of tools, the lengths of common objects and the capacities of common containers, using the metric system and the imperial system (MEL 4E; also MFM 2P, MBF 3C, MAP 4C and MEL 4E)  </p>
      </div>
    </section>

    <section class="row">
      <br> <h4>Addition and Subtraction with Unlike Denominators</h4>
      <p> Students with a strong fraction number sense can compose wholes with unlike denominators as well using equivalent fractions. For example, when determining the result of
        <abbr title="one third" class="abbr-frac"><span class="frac"><sup>18</sup><span>&frasl;</span><sub>24</sub></span></abbr> + <abbr title="one third" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>10</sub></span></abbr> - 
        <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>12</sub></span></abbr> if students recognize that <abbr title="one third" class="abbr-frac"><span class="frac"><sup>18</sup><span>&frasl;</span><sub>24</sub></span></abbr> + <abbr title="one third" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>10</sub></span></abbr> - 
        <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>12</sub></span></abbr> = <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr> + <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> - 
        <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr>, they have an easier time recognizing that <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr> + <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> - 
        <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr> = 1. In order to calculate the sum of fractions with unlike units, such as <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> + 
        <abbr title="one third" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>3</sub></span></abbr>, they must express each fraction in a common unit (with a common denominator).
      </p>
    </section>
    
    <section class="row">
      <div class="col-md-12 col-sm-12 v-align">
        <div class="col-md-4 col-sm-4">
          <img src="/images/addSubFrac/img62.jpg" alt="Fractions Picture" width="100%">
        </div>
        <div class="col-md-4 col-sm-4">
          <img src="/images/addSubFrac/PIcture3-page-001.jpg" alt="Fractions Picture" width="100%">
        </div>
        <div class="col-md-4 col-sm-4">
          <p>  When using stacked number lines, the
            partitions of both units can be mapped
            to the third line to show the common unit.</p>
        </div>
      </div>
    </section>
    
    <section class="row">
        <div class="darkblue">
          <p> <strong> What does this look like in the Ontario Mathematics Curriculum (Specific Expectations)? <br>  Students will: </strong><br>
            Grade 1: divide whole objects into parts and identify and describe, through investigation, equal sized parts of the whole, using fractional names (e.g., halves, fourths) <br>
            Grade 7: add and subtract fractions with simple like and unlike denominators, using a variety of tools<br>
            Grade 12: measure, using a variety of tools, the lengths of common objects and the capacities of common containers, using the metric system and the imperial system (MEL 4E; also MFM 2P, MBF 3C, MAP 4C and MEL 4E)<br>
        </div>
    </section>

    <section class="row">
        <br> <h4>Addition and Subtraction of Fractions in Contexts</h4>
         <p>Student use their knowledge of addition and subtraction of fractions in contexts across the strands
            and grades. Students add and subtract fractions when they determine complimentary probabilities or
            combine measures such as Imperial linear, time or rotational quantities. All secondary students add
            and subtract fractions as they manipulate algebraic equations.
          </p>
    </section>

    <section class="row">
        <div class="darkblue">
          <p> <strong> What does this look like in the Ontario Mathematics Curriculum (Specific Expectations)? <br>  Students will: </strong><br>
            Grade 4: predict the frequency of an outcome in a simple probability experiment. <br>
            Grade 8: evaluate algebraic expressions with up to three terms, by substituting fractions, decimals, and integers for the variables.<br>
            Grade 12: solve linear and quadratic equations, with and without graphing technology, for the domain of real values from 0 to 2π, and solve related problems. (MHF 4U)<br>
        </div>
    </section>

    <section class="row">
        <br> <h4>For further information, visit fractionsteaching.ca</h4>
         <ul>
           <li> Fractions Learning Pathways (adding and subtracting fractions tasks and supporting documents)</li>
           <li>Foundations to Learning and Teaching Fractions: Addition and Subtraction</li>
         </ul>>
    </section>



    <section class="row icons-tabs-section">
      <ul class="nav nav-tabs" id="icons-tabs" role="tablist">
        <li class="nav-item active">
          <a class="nav-link" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">
            <p><img src="../images/fractions-icons/Templates-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Templates</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list2-tab" data-toggle="tab" href="#list2" role="tab" aria-controls="list2" aria-selected="false">
            <p><img src="../images/fractions-icons/implementation-grey.png" alt="" width="80px" height="50px" /></p>
            <p>Implementation</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list3-tab" data-toggle="tab" href="#list3" role="tab" aria-controls="list3" aria-selected="false">
            <p><img src="../images/fractions-icons/student-thinking-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Student Thinking</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list4-tab" data-toggle="tab" href="#list4" role="tab" aria-controls="list4" aria-selected="false">
            <p><img src="../images/fractions-icons/Resources-icon-grey.png" alt="" width="40px" height="50px" /></p>
            <p>Additional Resources</p>
          </a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <!-- Templates TAB - LIST -->
        <div class="tab-pane fade in active" id="list" role="tabpanel" aria-labelledby="list-tab">

          <figure><figcaption><div class="gen-pdf"><a href="/pdf/addSubFrac/BLM 1 Benchmark Activity Worksheet AODA.pdf" target="_blank">Download PDF</a></div></figcaption>
            <img src="/images/addSubFrac/BLM 1 Benchmark Activity Worksheet AODA.jpg" alt="BLM 1" class="img-responsive margin-auto" /> </figure>
          <figure><figcaption><div class="gen-pdf"><a href="/pdf/addSubFrac/BLM 2 Intuitive and Informal Strategies AODA.pdf" target="_blank">Download PDF</a></div></figcaption>
            <img src="/images/addSubFrac/BLM 2 Intuitive and Informal Strategies AODA.jpg" alt="Cake Relay BLM 2" class="img-responsive margin-auto"/></figure>
          <figure><figcaption><div class="gen-pdf"><a href="/pdf/addSubFrac/BLM3 Relay Race AODA.pdf" target="_blank">Download PDF</a></div></figcaption>
            <img src="/images/addSubFrac/BLM3 Relay Race AODA.jpg" alt="Cake Relay BLM 3" class="img-responsive margin-auto"/></figure>
            <figure><figcaption><div class="gen-pdf"><a href="/pdf/addSubFrac/BLM 4 Unpacking The Fractions Learning Pathways.pdf" target="_blank">Download PDF</a></div></figcaption>
              <img src="/images/addSubFrac/BLM 4 Unpacking The Fractions Learning Pathways.jpg" alt="Cake Relay BLM 3" class="img-responsive margin-auto"/></figure>

        </div>
        <!-- Implementation TAB - LIST -->
        <div class="tab-pane fade" id="list2" role="tabpanel" aria-labelledby="list2-tab">

        </div>
        <!-- Student Thinking TAB - LIST -->
        <div class="tab-pane fade" id="list3" role="tabpanel" aria-labelledby="list3-tab">

        </div>
        <!-- Additional Resources TAB - LIST -->
        <div class="tab-pane fade" id="list4" role="tabpanel" aria-labelledby="list4-tab">

          <div class="row">
            <a href="/supportDocs/buildAddSub">
              <div class="col-sm-6 col-md-4">
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

  </section> <!-- End PDF page section -->
  <%- include partials/footer.ejs%>
