<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <!-- <li class="breadcrumb-item"><a href="/tasks">Activities</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./pathwayTasks">Tasks</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./op">Operations Tasks</a></li> -->
  <li class="breadcrumb-item active"><a href="/tasks/pathwayTasks">Classroom Resources</a></li>
  <li class="breadcrumb-item active">Banana Bread Bake Off</li>
</ol>

<main>

  <!-- Tasks Header -->
  <section class="container learningPathWays-title">
    <div class="row padding-bottom">
      <div class="col-sm-3 col-md-3 display-flex">
        <div id="triangle-bottomright" class="triangle-bottomright-purple"></div>
        <div id="rectangle" class="display-flex rectangle-purple">
          <p></p>
        </div>
        <div id="triangle-topleft" class="triangle-topleft-purple"></div>
      </div>
      <div class="col-sm-6 col-md-6">
        <h1></h1>
      </div>
      <div class="col-sm-3 col-md-3">
        <figure>
          <a href="/#pathway-purple"><img src="/images/Fractions-Learning_pathway-purple.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
        </figure>
      </div>
    </div> <!-- End div.row -->
  </section>
  <!-- End Tasks Header -->

  <section class="container dot-lists pdf-page ">
    <!-- PDF page Section -->
    <section class="row gen-pdf-container">
      <div class="gen-pdf">
        <a href="/pdf/arraysNumberLine/One pager 1 Arrays and NL v7 AODA.pdf" target="_blank">Download PDF</a>
      </div>
    </section>

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h3 class="text-blue center">Math Teaching for Learning: Representing Multiplication and Division of Fractions with Arrays and Number Lines</h3>
      </div>
    </section>


    <section>
        <p>As many adults will attest, it is more difficult to describe the operations of multiplication and division with fractions than with whole numbers. With fractions, for example, generalizations that
            work with whole numbers – such as “multiplication results in larger quantities” – are no longer always true. (Where multiplication by a number greater than 1 produces a larger quantity,
            multiplication by a quantity that is less than 1 will effectively “shrink” the multiplicand, resulting in a smaller number.) Traditionally, teaching has focused on memorization and practice of the algorithms
            for multiplication and division with fractions. However, while algorithms simplify the calculations, they do not support conceptual understanding of multiplication and division with fractions.
            Research has shown that a premature focus on these procedures without adequate opportunity to understand the meaning – what is happening to quantities throughout these operations – actually
            serves to inhibit students’ success in subsequent mathematics learning (Huinker, 2002). Therefore, instruction should support students in developing “number and operation sense before learning how
            to apply these terms through procedures, understanding what the problem means, rather than merely computing an answer” (Rule & Hallagan, 2006, p. 3).</p>
        <p>Representations, such as arrays and number lines, allow us to “see” and model the impact of each of the operations on the fractional quantities as well as the reasoning behind the operations and/or
            algorithms. Supporting students learning in this manner helps to build a foundation for their algebraic reasoning (Brown & Quinn, 2007). Algebraic concepts are similar to, and rely upon, fractions concepts, so when shortcuts (such as ‘invert and multiply’ when dividing fractions) are
            misunderstood, or simply not connected to the reasoning of the actions, students can have difficulty with more complex algebra later on. Algebra is a foundation and ‘gatekeeper’ for later mathematics
            (meaning that students need solid algebraic foundations in order to access higher mathematics); thus when we help students establish strong foundations in fractions, we set them up for success in
            algebraic reasoning, and in turn increase the options available to them for subsequent studies as well as for their careers.</p>
    </section>

    <section>
      <h4> The Array Model for Multiplication</h4>
      <p> Using an array model allows students to connect the concepts of multiplication of whole numbers and of rectangular areas when formally learning about multiplication of two fractions.</p>
      <p> With whole numbers, an array model shows the product of two quantities as the area of the rectangle. In this model, each region, or square, has dimensions of 1 unit by 1 unit. In an area (array) model, we consider multiplication as the shared space of two numbers.</p> <br>
    </section>

    <section>
      <div class="grey-background">
        <h4> References</h4>
        <p style="font-size:14px;"> Brown, G., & Quinn, R. J. (2007). Investigating the relationship between fraction proficiency and success in algebra. <i> Australian Mathematics Teacher, 63</i>(4): 8- 15. 
        <p style="font-size:14px;">Huinker, D. (2002). Examining dimensions of fraction operation sense. In B. Litwiller (Ed.), <i>Making sense of fractions, ratios, and proportions, 2002 yearbook </i> (pp. 72-78). Reston, VA: NCTM </p>
        <p style="font-size:14px;"> Rule, A, C., & Hallagan, J. E. (2006, June). <i>Preservice elementary teachers use drawings and make sets of materials to explain multiplication and division by fractions. </i>Research study presented at the 2nd Annual Preparing Mathematicians to Educate Teachers (PMET) Conference, Oswego, NY.</p>
        <p style="font-size:14px;"> Tsankova, J. K., & Pjanic, K. (2009). The area model of multiplication of fractions. <i>Mathematics Teaching in the Middle School </i>, 15(5): 281-285. </p>
        <p style="font-size:14px;"> Wu, Z. (2001). Multiplying fractions. <i>Teaching Children Mathematics</i>, 8(3): 174-177.</p>
      </div>
    </section>

    <section>
        <br> <p> Let’s consider the product of 3 x 4. Using this array, we would shade three columns and four rows. </p>
        <div class="col-md-12 col-sm-12">
          <div class="col-md-3 col-sm-3 col-xs-3 img-center">
              <img src="/images/arraysNumberLine/Col001.png" width="67%">
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3 img-center">
              <img src="/images/arraysNumberLine/Col002.png" width="70%">
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3 img-center">
              <img src="/images/arraysNumberLine/Col003.png" width="70%">
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3 img-center">
              <img src="/images/arraysNumberLine/Col004.png" width="75%">
          </div>
        </div>
        <p> We can see that the shared space is equal to 12, so we would say 3 × 4 = 12. If you pictured the
            shaded intersecting space, and disregarded the regions outside of this space, it is likely due to your familiarity with the area model for multiplication of whole numbers. When we use an array to model
            multiplication, we typically only show the numbers we are concerned with. However, the other numbers are theoretically “there”, and we could show them on a grid of any size and dimensions, we
            just don’t typically show it this way. In the model above, we are showing how 3 x 4 = 12 can be shown on a larger grid.</p>
        <p> The same model can be used for multiplication of fractions, also called a Cartesian product. We can use the same array as above with a different scale. (This example demonstrates the importance of
            labelling.) Now the entire width of the rectangle is 1 unit and the entire height of the rectangle is 1
            unit. Consider <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr> x <abbr title="one third" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>5</sub></span></abbr>.
            To model this, we partition a 1 x 1 array into fourths (four columns) and fifths (five rows). We would shade three columns (each column is one fourth of the length) to represent 
            <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr>. We would shade four rows (each row is one fifth of the height) to represent 
            <abbr title="one third" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>5</sub></span></abbr>.</p>
          <div class="col-md-12 col-sm-12">
              <div class="col-md-3 col-sm-3 col-xs-3 img-center">
                  <img src="/images/arraysNumberLine/Col011.png" width="75%">
              </div>
              <div class="col-md-3 col-sm-3 col-xs-3 img-center">
                  <img src="/images/arraysNumberLine/Col012.png" width="67%">
              </div>
              <div class="col-md-3 col-sm-3 col-xs-3 img-center">
                  <img src="/images/arraysNumberLine/Col013.png" width="70%">
              </div>
              <div class="col-md-3 col-sm-3 col-xs-3 img-center">
                  <img src="/images/arraysNumberLine/Col014.png" width="75%">
              </div>
            </div>
            <p> We can see that the shared space is equal to <abbr title="one third" class="abbr-frac"><span class="frac"><sup>12</sup><span>&frasl;</span><sub>20</sub></span></abbr>, so we would say 
              <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr> x <abbr title="one third" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>5</sub></span></abbr> = 
              <abbr title="one third" class="abbr-frac"><span class="frac"><sup>12</sup><span>&frasl;</span><sub>20</sub></span></abbr>.</p>
    </section>

    <section>
      <h4> The Array Model for Division</h4>
      <img src="/images/arraysNumberLine/Picture005.png" width="20%" style="float:right;">
      <p> Using arrays for division is also possible, although in our research the number line proved more powerful and clear as a representation. Nonetheless, we want to show you this because it connects to the use of area models (specifically algebra tiles) for division and factoring of algebraic expressions.</p>
      <p> Consider the question: A rectangle has an area of 12 cm&#178;. One dimension is 3 cm. What is the other dimension? The question can be expressed as 12 cm&#178; &#247; 3 cm = x, which is the same as asking how many groups of 3 are in 12.</p>
      <p> Using the same whole number array as above and, using the information that one dimension is 3 cm, we can represent the problem. We can decide to use columns to represent the known width, and shade in twelve regions within those three columns, as shown to the right. This
          produces four rows of shaded squares. So we know that the missing dimension is 4, and can determine that 12 cm&#178; ÷ 3 cm = 4 cm.</p>
      <p> Let’s try it with fractions by considering  <abbr title="one third" class="abbr-frac"><span class="frac"><sup>10</sup><span>&frasl;</span><sub>4</sub></span></abbr> &#247; <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr>.
        This is the same as asking,how many  <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr> are in  <abbr title="one third" class="abbr-frac"><span class="frac"><sup>10</sup><span>&frasl;</span><sub>4</sub></span></abbr>? First, we need to represent
        <abbr title="one third" class="abbr-frac"><span class="frac"><sup>10</sup><span>&frasl;</span><sub>4</sub></span></abbr>. Since it is greater than one whole, the array will also extend beyond one whole.
      </p> 
      <img src="/images/arraysNumberLine/Picture004.png" width="70%">
      <p> Let's consider the <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr>in this model.</p>
      <img src="/images/arraysNumberLine/Picture003.png" width="70%">
      <p> Now let's expand the model of <abbr title="one third" class="abbr-frac"><span class="frac"><sup>10</sup><span>&frasl;</span><sub>4</sub></span></abbr>so that one dimension lets us repeat and stack <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr>
        as many times as we need to. We will need to add rows to the array. This will allow us to essentially decompose <abbr title="one third" class="abbr-frac"><span class="frac"><sup>10</sup><span>&frasl;</span><sub>4</sub></span></abbr> into chunks of
        <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr>, which will allow us to visualize and count how many times <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr> will "fit" into
        <abbr title="one third" class="abbr-frac"><span class="frac"><sup>10</sup><span>&frasl;</span><sub>4</sub></span></abbr>.
      </p>
      <img src="/images/arraysNumberLine/Picture002.png" width="70%">
      <p> We can see that <abbr title="one third" class="abbr-frac"><span class="frac"><sup>10</sup><span>&frasl;</span><sub>4</sub></span></abbr> can be decomposed or rearranged into three whole <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr> chunks
        plus another <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>3</sub></span></abbr> of <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr>. So 
        <abbr title="one third" class="abbr-frac"><span class="frac"><sup>10</sup><span>&frasl;</span><sub>4</sub></span></abbr> &#247; <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr> = 3 
        <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>3</sub></span></abbr>.
      </p>
    </section>

    <section>
      <h4> The Number Line for Multiplication</h4>
      <p> We often use number lines to show multiplication with whole numbers as repeated addition. As with whole number multiplication, the number line can be used to determine a product with fractions.</p>
      <p> In this example, we are now adding, or counting by, one-sixth units: 1 one-sixth, 2 one-sixths, 3 one- sixths, 4 one-sixths, 5 one-sixths. This is the same as 5 x <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>6</sub></span></abbr></p>
      <img src="/images/arraysNumberLine/Picture001.png" width="60%">
    </section>

    <section>
      <h4> The Number Line for Division</h4>
      <p> Division with fractions can be considered in a similar fashion on the number line. For example, consider <abbr title="one third" class="abbr-frac"><span class="frac"><sup>6</sup><span>&frasl;</span><sub>4</sub></span></abbr> &#247; <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>8</sub></span></abbr>
        This is the same as asking, how many <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>8</sub></span></abbr> are in <abbr title="one third" class="abbr-frac"><span class="frac"><sup>6</sup><span>&frasl;</span><sub>4</sub></span></abbr>? <br>
        We can place <abbr title="one third" class="abbr-frac"><span class="frac"><sup>6</sup><span>&frasl;</span><sub>4</sub></span></abbr> on the number line and then consider 'how many <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>8</sub></span></abbr> hops can I fit in?’
      </p>
      <img src="/images/arraysNumberLine/Numberline.png" width="70%">
      <img src="/images/arraysNumberLine/Picture73.png" width="70%">
      <p> Using this model, we can see that there are four <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>8</sub></span></abbr> hops in <abbr title="one third" class="abbr-frac"><span class="frac"><sup>6</sup><span>&frasl;</span><sub>4</sub></span></abbr>. We can say that
      <abbr title="one third" class="abbr-frac"><span class="frac"><sup>6</sup><span>&frasl;</span><sub>4</sub></span></abbr> &#247; <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>8</sub></span></abbr> = 4. </p>
    </section>

    <section>
      <h4> A Final Note</h4>
      <p> North American instruction on fractions operations often focuses more on the algorithms than
          conceptual understanding, however, correct responses using the algorithm do not indicate that the
          student understands either the operation or the answer. In fact, the traditional invert-and-multiply
          algorithm for division of fractions removes the operation of division entirely, obscuring the
          mathematics. It is an effective shortcut but learning the rule and practicing it repeatedly do not help
          students to understand the mathematics or how the quantities are operating on each other. Research
          has consistently demonstrated that, regardless of the content, students who fail to understand the
          reasoning behind the procedure struggle to apply it successfully, to understand when to use with
          procedure and to solve more complex problems (Tsankova & Pjanic, 2009; Wu, 2001). Conversely,
          instruction that includes the use of models consistently for all operations supports students in
          understanding the operation and how each operation differs in its impact on the quantity.</p>
    </section>
  </section> <!-- End PDF page section -->
  <%- include partials/footer.ejs%>
