<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <!-- <li class="breadcrumb-item"><a href="/tasks">Activities</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./pathwayTasks">Tasks</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./op">Operations Tasks</a></li> -->
  <li class="breadcrumb-item active"><a href="/tasks/pathwayTasks">Classroom Resources</a></li>
  <li class="breadcrumb-item active">Banana Bread Bake Off</li>
</ol>

<main>

  <!-- Tasks Header -->
  <section class="container learningPathWays-title">
    <div class="row padding-bottom">
      <div class="col-sm-3 col-md-3 display-flex">
        <div id="triangle-bottomright" class="triangle-bottomright-purple"></div>
        <div id="rectangle" class="display-flex rectangle-purple">
          <p>OP N</p>
        </div>
        <div id="triangle-topleft" class="triangle-topleft-purple"></div>
      </div>
      <div class="col-sm-6 col-md-6">
        <h1>Multiply fractions using models and symbols.</h1>
      </div>
      <div class="col-sm-3 col-md-3">
        <figure>
          <a href="/#pathway-purple"><img src="/images/Fractions-Learning_pathway-purple.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
        </figure>
      </div>
    </div> <!-- End div.row -->
  </section>
  <!-- End Tasks Header -->

  <section class="container dot-lists pdf-page ">
    <!-- PDF page Section -->
    <section class="row gen-pdf-container">
      <div class="gen-pdf">
        <a href="/pdf/cakeRelay/T49_ON_CakeRelay_task_AODA.pdf" target="_blank">Download PDF</a>
      </div>
    </section>

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Sprinkles on a Cake and Running Relay</h1>
      </div>
    </section>


    <section class="row" style="float:right; padding: 0px 20px 10px 20px;">
      <img src="/images/tasks/cakeRelay/Task-Pic.jpg" alt="Task" class="img-responsive margin-auto" />
    </section>

    <section class="row">
      <h4>Description</h4>
      <p>This task engages students in exploring the use of a representation (i.e., rectangular area/array model or number line) to build a more conceptual understanding of what it means to multiply two fractions. Within the contexts provided, students will discuss the effectiveness of each model and use a Venn diagram to compare similarities and differences.</p>

      <h4>Mathematics</h4>
      <p>Multiplication of fractions is frequently introduced using an algorithm before students have opportunities
        to build concepts that help them to understand why and how the algorithm works. Students benefit from
        opportunities to connect the multiplication of fractions to real world tasks with familiar contexts. When
        students engage in concrete tasks in which they are required to communicate and represent their
        thinking, they are better able to multiply fractions appropriately without error and to develop fractional
        number sense. These problems are designed to lead students to solve the same numerical question
        using different contexts and models. Students are also given the opportunity to compare models and
        their effectiveness in order to solidify the importance of appropriately selecting visual representations
        and accurate labels.</p>
    </section>

    <section class="row">
      <h4>Curriculum Connections</h4>
      <p>Students will:</p>
      <ul>
        <li>multiply fractions with unlike numerators and denominators using models and symbols;</li>
        <li>reason about the effectiveness of various models.</li>
      </ul>
    </section>

    <section class="row">
      <h4>Instructional Sequence</h4>
      <ol>
        <li>Pair students. Give half of the groups BLM 1 and the other half BLM 2.</li>
        <li>Provide students with time to complete the tasks. An assortment of manipulatives should be
          accessible for all students. Allow students to explore, encouraging the use of a variety of models and
          asking the key questions while circulating.</li>
        <li>Have each pair of students join up with another pair who received the other prompt (i.e., a pair with
          BLM 1 will pair up with a pair who worked on BLM 2) and have the newly created group complete
          BLM 3 to compare the similarities and differences (problem, strategies, solutions, models) between
          their representations.</li>
        <li>Consolidate as whole group using Key Questions and /or discussing BLM 3 (focusing on the use of a model as a thinking tool to solve the question and understand the solution).</li>
      </ol>
    </section>

    <section class="row">
      <div class="col-sm-6 col-md-6 no-padding-left">
        <h4>Highlights of Student Thinking</h4>
        <p>Students may:</p>
        <ul>
          <li>use an algorithm to solve but struggle to indicate what the solution represents;</li>
          <li>use an inefficient model that doesn’t help them interpret their solution;</li>
          <li>attend to the complement (the other fraction of the whole) of the cake or the completed race;</li>
          <li>convert the race track into metres to help them understand and solve the problem;</li>
          <li>draw the cake as a long narrow rectangle instead of a more ‘square’ rectangle, which is mathematically correct but it may be a more difficult representation to work with precisely; and</li>
          <li>see this as a division question initially/not understand that this as a multiplication question, and/or have some confusion as to how this is multiplication.</li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-6">
        <h4 class="title-indentation">Key Questions</h4>
        <ol>
          <li>What does your model represent?</li>
          <li>How have your labels provided clarity?</li>
          <li>What model could you use to show a relay race or a cake? (A rectangle connects more strongly to a cake while a number line relates to a race.)</li>
          <li>What operation does your model represent? How does your model help you obtain your answer?</li>
          <li>How has the Venn diagram and your discussion helped you understand the benefits of using various models in terms of context?</li>
        </ol>
      </div>
    </section>
    <!-- <abbr title="Blackline Master">BLM</abbr>  -->
    <section class="row">
      <h4>Materials</h4>
      <ul>
        <li><a href="/pdf/cakeRelay/T49_ON_CakeRelay_BLM1 AODA.pdf" target="_blank"><abbr title="Blackline Master">BLM</abbr> 1</a> (1 copy per pair for half the class)</li>
        <li><a href="/pdf/cakeRelay/TT49_ON_CakeRelay_BLM2 v4.pdf" target="_blank"><abbr title="Blackline Master">BLM</abbr> 2</a> (1 copy per pair for half the class)</li>
        <li><a href="/pdf/cakeRelay/T49_ON_CakeRelay_BLM3_AODA.pdf" target="_blank"><abbr title="Blackline Master">BLM</abbr> 3</a> (1 copy per two pairs) </li>
        <li>white boards, grid paper, colored pencil crayons, washable chalk board markers</li>
        <li>a variety of manipulatives (e.g., colour tiles, relational rods)</li>
      </ul>
    </section>

    <section class="row icons-tabs-section">
      <ul class="nav nav-tabs" id="icons-tabs" role="tablist">
        <li class="nav-item active">
          <a class="nav-link" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">
            <p><img src="../images/fractions-icons/Templates-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Templates</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list2-tab" data-toggle="tab" href="#list2" role="tab" aria-controls="list2" aria-selected="false">
            <p><img src="../images/fractions-icons/implementation-grey.png" alt="" width="80px" height="50px" /></p>
            <p>Implementation</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list3-tab" data-toggle="tab" href="#list3" role="tab" aria-controls="list3" aria-selected="false">
            <p><img src="../images/fractions-icons/student-thinking-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Student Thinking</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list4-tab" data-toggle="tab" href="#list4" role="tab" aria-controls="list4" aria-selected="false">
            <p><img src="../images/fractions-icons/Resources-icon-grey.png" alt="" width="40px" height="50px" /></p>
            <p>Additional Resources</p>
          </a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <!-- Templates TAB - LIST -->
        <div class="tab-pane fade in active" id="list" role="tabpanel" aria-labelledby="list-tab">

          <figure><figcaption><div class="gen-pdf"><a href="/pdf/cakeRelay/T49_ON_CakeRelay_BLM1 AODA.pdf" target="_blank">Download PDF</a></div></figcaption>
            <img src="/images/tasks/cakeRelay/T49_ON_CakeRelay_BLM1 v5.jpg" alt="Cake Relay BLM 1" class="img-responsive margin-auto" /> </figure>
          <figure><figcaption><div class="gen-pdf"><a href="/pdf/cakeRelay/T49_ON_CakeRelay_BLM2 v4.pdf" target="_blank">Download PDF</a></div></figcaption>
            <img src="/images/tasks/cakeRelay/T49_ON_CakeRelay_BLM2 v4.jpg" alt="Cake Relay BLM 2" class="img-responsive margin-auto"/></figure>
          <figure><figcaption><div class="gen-pdf"><a href="/pdf/cakeRelay/T49_ON_CakeRelay_BLM3_AODA.pdf" target="_blank">Download PDF</a></div></figcaption>
            <img src="/images/tasks/cakeRelay/T49_ON_CakeRelay_BLM3_v3.jpg" alt="Cake Relay BLM 3" class="img-responsive margin-auto"/></figure>

        </div>
        <!-- Implementation TAB - LIST -->
        <div class="tab-pane fade" id="list2" role="tabpanel" aria-labelledby="list2-tab">

        </div>
        <!-- Student Thinking TAB - LIST -->
        <div class="tab-pane fade" id="list3" role="tabpanel" aria-labelledby="list3-tab">

          <figure><figcaption><div class="gen-pdf"><a href="/pdf/cakeRelay/Student Thinking Samples 1 and 2 AODA.pdf" target="_blank">Download PDF</a></div></figcaption>
            <img src="/images/tasks/cakeRelay/Student Thinking Samples 1 and 2 AODA.jpg" alt="Creating Sums Close to One Studing Thinking sample one and two" class="img-responsive margin-auto" /></figure>
          <figure><figcaption><div class="gen-pdf"><a href="/pdf/cakeRelay/Student Thinking Samples 3 and 4 AODA.pdf" target="_blank">Download PDF</a></div></figcaption>
            <img src="/images/tasks/cakeRelay/Student Thinking Samples 3 and 4 AODA.jpg" alt="Creating Sums Close to One Studing Thinking sample three and four" class="img-responsive margin-auto" /></figure>

        </div>
        <!-- Additional Resources TAB - LIST -->
        <div class="tab-pane fade" id="list4" role="tabpanel" aria-labelledby="list4-tab">

          <div class="row">
            <a href="/supportDocs/buildAddSub">
              <div class="col-sm-6 col-md-4">
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

  </section> <!-- End PDF page section -->
  <%- include partials/footer.ejs%>
