<%- include partials/header.ejs%>
<!-- Breadcrumbs -->

<main class="container">

  <section class="row padding-bottom">
    <div class="col-md-12 col-sm-12">
      <h1 id=""></h1>
    </div>
  </section>

  <section class="row">
    <h1>Oops!</h1>
<p>Please ensure you have completed all fields before submitting the form. </p>
<p>Also ensure that there is only one email address.</p>
<p><a href="/contact/">Back</a></p>
  <%- include partials/footer.ejs%>
