<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <!-- <li class="breadcrumb-item"><a href="/tasks">Activities</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./pathwayTasks">Tasks</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./op">Operations Tasks</a></li> -->
  <li class="breadcrumb-item active"><a href="/tasks/pathwayTasks">Classroom Resources</a></li>
  <li class="breadcrumb-item active">Banana Bread Bake Off</li>
</ol>

<main>

  <!-- Tasks Header -->
  <section class="container learningPathWays-title">
    <div class="row padding-bottom">
      <div class="col-sm-3 col-md-3 display-flex">
        <div id="triangle-bottomright" class="triangle-bottomright-purple"></div>
        <div id="rectangle" class="display-flex rectangle-purple">
          <p>OP K</p>
        </div>
        <div id="triangle-topleft" class="triangle-topleft-purple"></div>
      </div>
      <div class="col-sm-6 col-md-6">
        <h1>Divide a fraction by a like-denominator fraction with a whole number result.</h1>
      </div>
      <div class="col-sm-3 col-md-3">
        <figure>
          <a href="/#pathway-purple"><img src="/images/Fractions-Learning_pathway-purple.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
        </figure>
      </div>
    </div> <!-- End div.row -->
  </section>
  <!-- End Tasks Header -->

  <section class="container dot-lists pdf-page ">
    <!-- PDF page Section -->
    <section class="row gen-pdf-container">
      <div class="gen-pdf">
        <a href="/pdf/fractionDecompositionandDivision/T51_OK_Fractions Decompostition and Division_task_AODA.pdf" target="_blank">Download PDF</a>
      </div>
    </section>

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Fraction Decomposition and Division</h1>
      </div>
    </section>


    <section class="row" style="float:right; padding: 0px 20px 10px 20px;">
      <img src="/images/tasks/fractionDecompositionandDivision/Task-Pic.jpg" alt="Task" class="img-responsive margin-auto" />
    </section>

    <section class="row">
      <h4>Description</h4>
      <p>This is a set of progressive prompts that will allow students to construct understanding of division of
        a fraction by a fraction. Decomposing fractions with like denominators enhances student’s ability to
        create meaning of the operation of division. Encourage students to build models and then a visual
        representation to deepen conceptual understanding. This series of prompts can be used for a variety
        of grades and purposes. The time required will vary depending on the grade level and student
        readiness.</p>

      <h4>Mathematics</h4>
      <p>Often, symbolic manipulation, such as ‘invert and multiply’ is presented as the way to divide
        fractions. However, division involving fractions is more meaningful with models as it helps students
        understand the impact of dividing a fraction by a fraction. These prompts support student
        understanding of the language and mathematical concepts associated with the division symbol. Students explore that 
        <abbr title="one third" class="abbr-frac"><span class="frac"><sup>a</sup><span>&frasl;</span><sub>b</sub></span></abbr> &divide;
        <abbr title="one third" class="abbr-frac"><span class="frac"><sup>c</sup><span>&frasl;</span><sub>b</sub></span></abbr> means “how many 
        <abbr title="one third" class="abbr-frac"><span class="frac"><sup>c</sup><span>&frasl;</span><sub>b</sub></span></abbr> are there in
        <abbr title="one third" class="abbr-frac"><span class="frac"><sup>a</sup><span>&frasl;</span><sub>b</sub></span></abbr> ”.
        Since the denominator is the fractional unit and the denominators are the same, the mathematical statement becomes ‘how many c are there in a’, 
        which students can come to understand through these prompts. This is the same as ‘how many c kg are in a kg’, where the answer is c &divide; a. 
        Once students recognize this they can more easily divide fractions with like denominators.</p>
    </section>

    <section class="row">
      <h4>Curriculum Connections</h4>
      <p>Students will:</p>
      <ul>
        <li>represent the division of fractions with like-denominators using a variety of models;</li>
        <li>solve problems involving division of fractions using models and symbols;</li>
        <li>decompose simple fractions into unit fractions.</li>
      </ul>
    </section>

    <section class="row">
     <div class="col-sm-8 col-md-8 no-padding-left">
      <h4>Instructional Sequence</h4>
      <ol>
        <li>Partner students and introduce the task. Post the first prompt,or distribute on a handout.</li>
        <li>Provide students with time to complete the task by first having them use concrete (e.g., relational rods) or virtual (e.g., mathies.ca) manipulatives to visually represent only the prompt.</li>
        <li>Next, have students demonstrate their thinking about division as decomposition of the fraction to answer the prompt using number lines or rectangular models (array) and explain the strategy used.</li>
        <li>Debrief selected student responses with whole class. Use the key questions to guide the discussion.</li>
        <li>Follow the same process with the next prompt.</li>
      </ol>
      </div>
      <div class="col-sm-4 col-md-4" style="border:2px solid black;">
          <h4 style="text-decoration: underline"> Prompt #1 </h4>
          <p> How many <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr> are there in 
            <abbr title="one third" class="abbr-frac"><span class="frac"><sup>7</sup><span>&frasl;</span><sub>4</sub></span></abbr> ?</p>
          <h4 style="text-decoration: underline"> Prompt #2 </h4>
          <p> How many <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr> are there in 
            <abbr title="one third" class="abbr-frac"><span class="frac"><sup>9</sup><span>&frasl;</span><sub>4</sub></span></abbr> ?</p>
          <h4 style="text-decoration: underline"> Prompt #3 </h4>
          <p> How many <abbr title="one third" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>3</sub></span></abbr> are there in 
            <abbr title="one third" class="abbr-frac"><span class="frac"><sup>16</sup><span>&frasl;</span><sub>3</sub></span></abbr> ?</p>
      </div>
    </section>
    

    <section class="row">
      <div class="col-sm-6 col-md-6 no-padding-left">
        <h4>Highlights of Student Thinking</h4>
        <p>Students may:</p>
        <ul>
          <li>represent <abbr title="one third" class="abbr-frac"><span class="frac"><sup>7</sup><span>&frasl;</span><sub>4</sub></span></abbr>
            as the mixed fraction 1 <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr> without saying how 
            many <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr> are in the total;</li>
          <li>label the segments cumulatively (eg.,<abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr>, 
          <abbr title="one third" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>4</sub></span></abbr>, <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr>, . . . );</li>
          <li>not make the connection between decomposing the fraction into unit fractions and division;</li>
          <li>need encouragement to label each unit fraction in their model;</li>
          <li>more easily recognize individual unit fractions in their model if they use different colours; and</li>
          <li>convert the improper fraction into a mixed fraction to recognize it is greater than a whole.</li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-6">
        <h4 class="title-indentation">Key Questions</h4>
        <ol>
          <li>What did you do first to break the fraction into units?</li>
          <li>How many partitions do you need in your model to represent <abbr title="one third" class="abbr-frac"><span class="frac"><sup>7</sup><span>&frasl;</span><sub>4</sub></span></abbr>?</li>
          <li> a) How much does each segment represent? <br> b) What is your whole? How many wholes do you have? </li>
        </ol>
      </div>
    </section>
    <!-- <abbr title="Blackline Master">BLM</abbr>  -->
    <section class="row">
      <h4>Materials</h4>
      <ul>
        <li>concrete manipulatives such as relational rods</li>
        <li>devices that support virtual manipulatives</li>
        <li>paper and markers</li>
      </ul>
    </section>

    <section class="row icons-tabs-section">
      <ul class="nav nav-tabs" id="icons-tabs" role="tablist">
        <li class="nav-item active">
          <a class="nav-link" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">
            <p><img src="../images/fractions-icons/Templates-icon-grey.png" alt="" width="40px" height="50px" /></p>
            <p>Templates</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list2-tab" data-toggle="tab" href="#list2" role="tab" aria-controls="list2" aria-selected="false">
            <p><img src="../images/fractions-icons/implementation-grey.png" alt="" width="80px" height="50px" /></p>
            <p>Implementation</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list3-tab" data-toggle="tab" href="#list3" role="tab" aria-controls="list3" aria-selected="false">
            <p><img src="../images/fractions-icons/student-thinking-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Student Thinking</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list4-tab" data-toggle="tab" href="#list4" role="tab" aria-controls="list4" aria-selected="false">
            <p><img src="../images/fractions-icons/Resources-icon-grey.png" alt="" width="40px" height="50px" /></p>
            <p>Additional Resources</p>
          </a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <!-- Templates TAB - LIST -->
        <div class="tab-pane fade" id="list" role="tabpanel" aria-labelledby="list-tab">
        
        </div>
        
        <!-- Implementation TAB - LIST -->
        <div class="tab-pane fade" id="list2" role="tabpanel" aria-labelledby="list2-tab">

        </div>
        <!-- Student Thinking TAB - LIST -->
        <div class="tab-pane fade active" id="list3" role="tabpanel" aria-labelledby="list3-tab">

          <figure><figcaption><div class="gen-pdf"><a href="/pdf/fractionDecompositionandDivision/T51_Fraction Decompostion and Division_student thinking_Prompt 1 AODA.pdf" target="_blank">Download PDF</a></div></figcaption>
            <img src="/images/tasks/fractionDecompositionandDivision/T51_Fraction Decompostion and Division_student thinking_Prompt 1.jpg" alt="Creating Sums Close to One Studing Thinking sample one and two" class="img-responsive margin-auto" /></figure>
          <figure><figcaption><div class="gen-pdf"><a href="/pdf/fractionDecompositionandDivision/T51_Fraction Decompostion and Division_student thinking_Prompt 2 & 3 AODA.pdf" target="_blank">Download PDF</a></div></figcaption>
            <img src="/images/tasks/fractionDecompositionandDivision/T51_Fraction Decompostion and Division_student thinking_Prompt 2 & 3.jpg" alt="Creating Sums Close to One Studing Thinking sample three and four" class="img-responsive margin-auto" /></figure>

        </div>
        <!-- Additional Resources TAB - LIST -->
        <div class="tab-pane fade" id="list4" role="tabpanel" aria-labelledby="list4-tab">

          <div class="row">
            <a href="/supportDocs/buildAddSub">
              <div class="col-sm-6 col-md-4">
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

  </section> <!-- End PDF page section -->
  <%- include partials/footer.ejs%>
