<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <!-- <li class="breadcrumb-item"><a href="/tasks">Activities</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./pathwayTasks">Tasks</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./op">Operations Tasks</a></li> -->
  <li class="breadcrumb-item active"><a href="/tasks/pathwayTasks">Classroom Resources</a></li>
  <li class="breadcrumb-item active">Banana Bread Bake Off</li>
</ol>

<main>

  <!-- Tasks Header -->
  <section class="container learningPathWays-title">
    <div class="row padding-bottom">
      <div class="col-sm-3 col-md-3 display-flex">
        <div id="triangle-bottomright" class="triangle-bottomright-purple"></div>
        <div id="rectangle" class="display-flex rectangle-purple">
          <p></p>
        </div>
        <div id="triangle-topleft" class="triangle-topleft-purple"></div>
      </div>
      <div class="col-sm-6 col-md-6">
        
      </div>
      <div class="col-sm-3 col-md-3">
        <figure>
          <a href="/#pathway-purple"><img src="/images/Fractions-Learning_pathway-purple.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
        </figure>
      </div>
    </div> <!-- End div.row -->
  </section>
  <!-- End Tasks Header -->

  <section class="container dot-lists pdf-page ">
    <!-- PDF page Section -->
    <section class="row gen-pdf-container">
      <div class="gen-pdf">
        <a href="/pdf/fracProbJunior/Fractions_ContextProbability_Pres Guide AODA.pdf" target="_blank">Download PDF</a>
      </div>
    </section>

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <p style="text-align:center;color:grey;">This session has been designed to support those providing Mathematics Professional learning for K-12 classroom educators. <br> Length of Session: 2.5 hours</p>
        <h3 style="text-align:center;">Fractions in the Context of Probability Presentation Guide</h3>
      </div>
    </section>

    <section class="row">
      <h4> Session Description </h4>
        <p> Junior and Intermediate teachers will gain a deeper understanding of the key concepts which support
            student understanding of fractions through engaging in activities in context and discussion of
            connections to probability.</p>
    </section>

    <section class="row">
     <h4>Importance</h4>
      <p> Research clearly indicates that students who have a solid understanding of fractions have increased
          success in algebra and subsequent mathematics. Rather than requiring additional time, filling gaps in
          student knowledge can be accomplished through precise instructional decisions and inclusion of a
          few powerful activities. In this way, students can solidify their understanding of fractions whilst
          learning the grade-level content of probability.
      </p>    
    </section>

    <section class="row">
      <h4> Learning Focus</h4> 
        <p> <i> Participants will:</i> <br> 
          <ul>
            <li>Engage in tasks to build deeper understanding of fractions in the context of probability;</li>
            <li>Build awareness of how understanding the unit fraction underpins fractions learning;</li>
            <li>Explore a powerful representation for fractions and probability – the number line;</li>
            <li>Connect research to practice</li>
          </ul> 
        </p>  
    </section>

    <section class="row">
      <h4> Agenda</h4> 
        <p> Minds On <br> 
        <ul>
          <li>Ordering Fractions on a Number Line task</li>
          <li>Connecting to probability on the number line</li>
        </ul> 
      </p>  
    </section>

    <section class="row">
        <p> Action <br> 
          <ul>
            <li>Purposeful representations</li>
            <li>Research overview</li>
            <li>Fractions Learning Pathway overview (video)</li>
            <li>Mathematical language: equi-partitioning, iterating, disembedding and connections to probability</li>
            <li>Unit Fractions Counting Game and connections</li>
           </ul> 
        </p>  
    </section>

    <section class="row">
        <p> Consolidation <br> 
          <ul>
            <li>Grab Bag activity using a combination of hands on manipulatives and Mathies tools</li>
          </ul> 
        </p>  
    </section>

    <section class="row">
        <h4> Module Contents</h4> 
          <ul>
            <li>Presentation Guide: overview, Learning Activities, Questions to Stimulate Conversations (as
                needed), Aha Moments (possible participants’ insights) and Materials, Adaptations (20 minute, 1.5
                hour and 5.5 hour sessions)</li>
                <li>PowerPoint with script and presenter notes</li>
                <li>BLMs</li>
          </ul> 
        </p>  
    </section>

    <section class="row table-responsive">
        <table class="table table-bordered table-striped tbl-medium-font" id="ftable">
          
          <!-- First Row -->
          <tr>
            <td>
              <h4 class="centered-text"> Learning Activities</h4>
            </td> 
            <td>
              <h4 class="centered-text"> Questions to Stimulate Conversation</h4>
            </td>
            <td>
              <h4 class="centered-text"> Aha Moments</h4>
            </td>
            <td>  
              <h4 class="centered-text"> Materials</h4>            
            </td>
          </tr> <!-- End First Row -->
          
          <!-- Second Row -->
          <tr>
            <td>
              <h4 class="centered-text"> Minds On (40 minutes)</h4>
              <h4> Introduction (Slides 1 - 5) 5 minutes</h4> 
              <p>Participants can work on the EQAO Probability questions
                  while they are waiting for the session to begin. Provide an
                  overview of the session.</p> <br> 
              <h4> Ordering Fractions on a Number Line (Slides 6- 7) 25 minutes</h4> 
              <p>Pairs will engage in placing given fractions on a number line
                  and participate in a discussion about strategies used and
                  fraction concepts that are needed to successfully complete
                  this task</p> <br> 
              <h4>Connecting the Number line to Probability (Slides 8 - 12) 10 minutes</h4> 
              <p>Participants place events on a (0 to 1) number line based on
                  the likelihood that the event will occur. They will discuss
                  connections of probability concepts to fractions thinking.
                  Connections to curriculum for Grades 4 to 6 will also be
                  made.</p>
            </td>
            <td>
              <ul>
                <li> If you place <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> at 2 where will you place
                1 <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr>?</li>
                <li> What is the challenge of this task if you choose to use common denominators to complete this task? </li>
                <li> How does changing the fractions to decimals support student understanding of fractions?</li>
              </ul>
            </td>
            <td>
              <ul>
                <li> I didn’t realize that there were so many different strategies that I could use to graph these fractions</li>
                <li> This is a good activity for students to learn that a fraction is a number</li>
              </ul>
            </td>
            <td>
              <ul>
                <li> 11 x 17 paper, rulers, markers</li>
                <li> Comparing Fractions Across K to 12 Curriculum</li>
                <li><i>Paying Attention to Fractions</i> (several copies/table) </li>
                <li><i> Fractions Learning Pathwats</i>(one/person)</li>
                <li> BLM 1 Probability Questions EQAO (one/person)</li>
              </ul>
            </td>
          </tr> <!-- End Second Row -->
         
          <!-- Third Row -->
          <tr>
            <td>
                <h4 class="centered-text"> Action (80 minutes)</h4>
                <h4> Unpacking Representations (Slides 13 to 14) 10 minutes</h4> 
                <p> Through guided Instruction participants will learn about powerful representations. </p> <br> 
                <h4> Changing the Scale Task (slide 15) 10 minutes</h4> 
                <p> Participants place 1<abbr title="one third" class="abbr-frac"><span class="frac"><sup>7</sup><span>&frasl;</span><sub>8</sub></span></abbr> on four different closed number lines. Advantages of this kind of task and using open number lines for tasks are discussed.</p> <br> 
                <h4> Fractions Research Overview (Slides 16 – 20) 10 minutes</h4> 
                <h4> Fractions Learning Pathways Overview (Slides 21-22) 5 minutes</h4> 
                <p> Participants will be introduced to the Fractions Learning Pathways (FLP) and the related resources via a video  </p> <br> 
                <h4> Mathematical Language (Slides 23 – 28) 5 minutes</h4> 
                <p> Through guided instruction participants will learn about key fraction actions. (equi-partitioning, iterating, and disembedding)</p> <br> 
                <h4> Connections to Probability (Slides 29-30) 15 minutes</h4> 
                <p> Participants solve two probability problems: one involving
                    sets, and a second involving unconventional spinners. They
                    will discuss their strategies using the language learned in
                    slides 24 to 29. </p> <br> 
                <h4> Building Understanding of Unit Fractions (Slides 31 –38) 25 minutes</h4> 
                <p> Participants will learn about the connections of unit fractions
                    across mathematical learning. Pairs will revisit their number
                    line from the Minds On activity and discuss it using unit
                    fractions. </p> 
            </td>
            <td>
                <ul>
                    <li> When doing the Changing the scale task                       
                      <ul>
                        <li>Which number line was the easiest or most challenging to use? Why?</li>
                        <li>What suprised you? why? </li>
                      </ul>
                    </li>
                    <li> What actions do you see your students using when solving fractions problems?</li>
                    <li> What connections can you make between unit fractions and probability content?</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li> I’m going to stop using circles so much when I teach fractions</li>
                    <li> I never thought about the power of the number line.</li>
                    <li> I can see how using non-labelled and open number lines would help students scale an axis better.</li>
                    <li> There are a lot of great tasks with lots of support in the FLP that I can use with my students</li>
                    <li> This provides language for my thinking about how students show fractions.</li>
                    <li> I never considered the power of unit fraction - it really is foundational. </li>
                    <li> I wish I had used unit fractions to help students understand the scale on the number line</li>
                    <li> Revisiting the number line activity made me realize the importance of using mixed
                        numbers with my students (rather than always converting to improper fractions). </li>
                  </ul>
            </td>
            <td>
                <ul>
                    <li> BLM 2 Changing the Scale (one/person) Note: Handout not to be distributed until slide 16.</li>
                    <li> Blank Paper</li>
                    <li> Pens/Coloured Pencils</li>
                    <li> <i> Math Teaching for Learning: Building Understanding of Unit Fractions </i> (one/person)</li>
                  </ul>
            </td>
          </tr> <!-- End Third Row -->
          
          <!-- Fourth Row  -->
          <tr>
            <td>
                <h4 class="centered-text"> Consolidation/Debrief (30 minutes)</h4>
                <h4> Explore Relational Rods using Mathies Tools (Slides 39-42) 10 minutes</h4> 
                <p> Pairs explore Relational Rods at Mathies.ca. by playing “What Am I?” </p> <br> 
                <h4> Grab Bag Activity (Slides 43-44) 15 minutes</h4> 
                <p> Participants will explore the Grab Bag task using relational rods. Discussion will focus on the role of the unit fraction and connections to unit fractions.</p> <br> 
                <h4> Consolidation Ideas and Fraction Resources (Slide 45-47) 5 minutes </h4> 
                <p> Summarize the key concepts shared in this session. Ask participants to make a commitment to change something about their practice based on this session. </p> <br> 
            </td>
            <td>
            </td>
            <td>
              <ul>
                <li> Mathies tools can make a difference with my students.</li>
                <li> I like the idea of having my students use the mathies tools and concrete manipulatives at the same time</li>
              </ul>
            </td>
            <td>
                <ul>
                    <li> One device per pair</li>
                    <li> Sets of relational rods</li>
                    <li> Paper bag to hold the set of rods (provide more rods if mathies.ca is not available)</li>
                  </ul>
            </td>
          </tr> <!-- End of Fourth Row -->
        </table>
      </section>


    <section class="row table-responsive">
        <table class="table table-bordered table-striped tbl-medium-font" id="ftable">
          
          <!-- First Row -->
          <tr>
            <td>
              <h4 class="centered-text"> Adaptions</h4>
            </td> 
            <td>
              <h4 class="centered-text"> Materials</h4>
            </td>
          </tr> <!-- End First Row -->
          
          <!-- Second Row -->
          <tr>
            <td>
              <h4> If you have 20 minutes:</h4> 
              <p> Learning Focus:</p> 
              <ul>
                <li> Explore a powerful representation for fractions and probability – the number line</li>
              </ul>
              <p> Activities:</p> 
              <ul>
                <li> Focus on slides 6 to 12</li>
              </ul>
            </td>
            <td>
              <p> 11x 17 paper, rulers, markers</p>
            </td>
          </tr> <!-- End Second Row -->
         
          <!-- Third Row -->
          <tr>
            <td>
                <h4> If you have 1.5 hours:</h4> 
                <p> Learning Focus:</p> 
                <ul>
                  <li> Engage in tasks to build deeper understanding of fractions in the context of probability;</li>
                  <li> Build awareness of how understanding the unit fraction underpins fractions learning</li>
                  <li> Explore a powerful representation for fractions and probability – the number line</li>
                </ul>
                <p> Activities:</p> 
                <ul>
                  <li> Omit slides 1, 16-22, 39-46</li>
                </ul>
            </td>
            <td>
                <p> See 2.5 hours outline</p>
            </td>
          </tr> <!-- End Third Row -->
          
          <!-- Fourth Row  -->
          <tr>
              <td>
                  <h4> If you have 5.5 hours:</h4> 
                  <p> Learning Focus: <br> Activities: </p> 
                  <ul>
                    <li> Combine this session with one other session: e.g. Comparing</li>
                    <li> Fractions, Fractions in Secondary School</li>
                  </ul>
              </td>
              <td style="width: 30%">
                  <ul>
                    <li> The two Presentations will have some similarslides/content so you can streamline the ppts to reduce two 2.5 sessions to one 5.5 session</li>
                  </ul>
              </td>
            </tr> <!-- End of Fourth Row -->

          <!-- Fifth Row -->
          <tr>
              <td>
                  <h4> Suggestions if you are offering the session as part of a series:</h4> 
              </td>
              <td> </td>
            </tr> <!-- End of Fifth Row -->
            
          <!-- Sixth Row -->
          <tr>
              <td>
                  <h4> Considerations if you are offering the session on-line:</h4> 
              </td>
              <td> </td>
            </tr> <!-- End of Sixth Row -->
          
        </table>
      </section>
    


    <section class="row icons-tabs-section">
      <ul class="nav nav-tabs" id="icons-tabs" role="tablist">
        <li class="nav-item active">
          <a class="nav-link" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">
            <p><img src="../images/fractions-icons/Templates-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Templates</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list2-tab" data-toggle="tab" href="#list2" role="tab" aria-controls="list2" aria-selected="false">
            <p><img src="../images/fractions-icons/implementation-grey.png" alt="" width="80px" height="50px" /></p>
            <p>Implementation</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list3-tab" data-toggle="tab" href="#list3" role="tab" aria-controls="list3" aria-selected="false">
            <p><img src="../images/fractions-icons/student-thinking-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Student Thinking</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list4-tab" data-toggle="tab" href="#list4" role="tab" aria-controls="list4" aria-selected="false">
            <p><img src="../images/fractions-icons/Resources-icon-grey.png" alt="" width="40px" height="50px" /></p>
            <p>Additional Resources</p>
          </a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <!-- Templates TAB - LIST -->
        <div class="tab-pane fade in active" id="list" role="tabpanel" aria-labelledby="list-tab">

          <figure><figcaption><div class="gen-pdf"><a href="/pdf/fracProbJunior/BLM 1 - Handout Probability Questions EQAO AODA.pdf" target="_blank">Download PDF</a></div></figcaption>
            <img src="/images/fracProbJunior/BLM 1 - Handout Probability Questions EQAO v2_Page_1.jpg" alt="BLM 1" class="img-responsive margin-auto" /> </figure>
          <figure><figcaption><div class="gen-pdf"><a href="/pdf/fracProbJunior/BLM 2 Changing the Scale AODA.pdf" target="_blank">Download PDF</a></div></figcaption>
            <img src="/images/fracprobJunior/BLM 2 Changing the Scale.jpg" alt="Cake Relay BLM 2" class="img-responsive margin-auto"/></figure>

        </div>
        <!-- Implementation TAB - LIST -->
        <div class="tab-pane fade" id="list2" role="tabpanel" aria-labelledby="list2-tab">

        </div>
        <!-- Student Thinking TAB - LIST -->
        <div class="tab-pane fade" id="list3" role="tabpanel" aria-labelledby="list3-tab">

        </div>
        <!-- Additional Resources TAB - LIST -->
        <div class="tab-pane fade" id="list4" role="tabpanel" aria-labelledby="list4-tab">

          <div class="row">
            <a href="/supportDocs/buildAddSub">
              <div class="col-sm-6 col-md-4">
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

  </section> <!-- End PDF page section -->
  <%- include partials/footer.ejs%>
