<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <!-- <li class="breadcrumb-item"><a href="/tasks">Activities</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./pathwayTasks">Tasks</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./op">Operations Tasks</a></li> -->
  <li class="breadcrumb-item active"><a href="/tasks/pathwayTasks">Classroom Resources</a></li>
  <li class="breadcrumb-item active">Banana Bread Bake Off</li>
</ol>

<main>

  <!-- Tasks Header -->
  <section class="container learningPathWays-title">
    <div class="row padding-bottom">
      <div class="col-sm-3 col-md-3 display-flex">
        <div id="triangle-bottomright" class="triangle-bottomright-purple"></div>
        <div id="rectangle" class="display-flex rectangle-purple">
          <p></p>
        </div>
        <div id="triangle-topleft" class="triangle-topleft-purple"></div>
      </div>
      <div class="col-sm-6 col-md-6">
        
      </div>
      <div class="col-sm-3 col-md-3">
        <figure>
          <a href="/#pathway-purple"><img src="/images/Fractions-Learning_pathway-purple.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
        </figure>
      </div>
    </div> <!-- End div.row -->
  </section>
  <!-- End Tasks Header -->

  <section class="container dot-lists pdf-page ">
    <!-- PDF page Section -->
    <section class="row gen-pdf-container">
      <div class="gen-pdf">
        <a href="/pdf/fracSecondary/Fractions_Secondary School_Pres Guide_AODA.pdf" target="_blank">Download PDF</a>
      </div>
    </section>

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <p style="text-align:center;color:grey;">This session has been designed to support those providing Mathematics Professional learning for K-12 classroom educators. <br> Length of Session: 2.5 hours</p>
        <h3 style="text-align:center;">Fractions in Secondary School Presentation Guide</h3>
      </div>
    </section>

    <section class="row">
      <h4> Session Description </h4>
        <p> Secondary teachers will gain a deeper understanding of the key concepts which support student
            understanding of fractions through engaging activities and discussion of connections to secondary
            mathematics content.</p>
    </section>

    <section class="row">
     <h4>Importance</h4>
      <p> Research clearly indicates that students who have a solid understanding of fractions have increased
          success in algebra and subsequent mathematics. Rather than requiring additional time, filling gaps in
          student knowledge can be accomplished through precise instructional decisions and inclusion of a
          few powerful activities. In this way, students can solidify their understanding of fractions whilst
          learning the grade-level content.
      </p>    
    </section>

    <section class="row">
      <h4> Learning Focus</h4> 
        <p> <i> Participants will:</i> <br> 
          <ul>
            <li>explore the different meanings of fractions and learn what the critical fraction concepts are for
                students</li>
            <li>understand the role of unit fractions across mathematical concepts</li>
            <li>engage in activities which connect the Fractions Learning Pathways to secondary curriculum</li>
            <li>access easy to adapt instructional strategies to increase student understanding of fractions </li>
          </ul> 
        </p>  
    </section>

    <section class="row">
      <h4> Agenda</h4> 
        <p> Minds On <br> 
        <ul>
          <li>Introduction</li>
          <li>Unit Fractions Counting Game</li>
          <li>Sticky Note Fractions (to be discussed further in Action)</li>
        </ul> 
      </p>  
    </section>

    <section class="row">
        <p> Action <br> 
          <ul>
            <li>Overview of Five Constructs</li>
            <li>The Why and How of Fractions Teaching</li>
            <li>Purposeful Models</li>
            <li>Building Understanding of Unit Fractions</li>
            <li>Applying Unit Fractions</li>
           </ul> 
        </p>  
    </section>

    <section class="row">
        <p> Consolidation <br> 
          <ul>
            <li>Fractions Across Secondary Curriculum</li>
          </ul> 
        </p>  
    </section>

    <section class="row">
        <h4> Module Contents</h4> 
          <ul>
            <li>Presentation Guide: overview, Learning Activities, Questions to Stimulate Conversations (as
                needed), Aha Moments (possible participants’ insights) and Materials, Adaptations (20 minute, 1.5
                hour and 5.5 hour sessions) </li>
                <li>PowerPoint with script and presenter notes</li>
                <li>BLMs</li>
          </ul> 
        </p>  
    </section>

    <section class="row table-responsive">
        <table class="table table-bordered table-striped tbl-medium-font" id="ftable">
          
          <!-- First Row -->
          <tr>
            <td>
              <h4 class="centered-text"> Learning Activities</h4>
            </td> 
            <td>
              <h4 class="centered-text"> Questions to Stimulate Conversation</h4>
            </td>
            <td>
              <h4 class="centered-text"> Aha Moments</h4>
            </td>
            <td>  
              <h4 class="centered-text"> Materials</h4>            
            </td>
          </tr> <!-- End First Row -->
          
          <!-- Second Row -->
          <tr>
            <td>
              <h4 class="centered-text"> Minds On (15 minutes)</h4>
              <h4> Introduction (Slides 1 - 4) 5 minutes</h4> 
              <p>Provide an overview of the session.</p> <br> 
              <h4> Unit Fractions Counting Game (Slide 5) 5 minutes</h4> 
              <p>Participants will engage in the Unit Fractions Counting Game.</p> <br> 
              <h4>Sticky Note Fractions (Slide 6) 5 minutes</h4> 
              <p>Participants choose a fraction, represent it in as many ways
                  as possible. Participants reflect on the kinds of fractions
                  selected (e.g., proper, improper, unit, benchmark) and
                  representations used (e.g., circles, rectangles, number lines,
                  pictures)</p>
            </td>
            <td>
              <ul>
                <li> What context might you use this fraction in? How can you represent that on the sticky note?</li>
              </ul>
            </td>
            <td>
              <ul>
                <li> Most of us selected a proper fraction to represent. </li>
                <li> Many of our fractions were familiar unit fractions, such as halves or fourths</li>
              </ul>
            </td>
            <td>
              <ul>
                <li> sticky notes (1 pad per table)</li>
                <li> chart paper with headings on it (BLM 1)</li>
              </ul>
            </td>
          </tr> <!-- End Second Row -->
         
          <!-- Third Row -->
          <tr>
            <td>
                <h4 class="centered-text"> Action (125 minutes)</h4>
                <h4> Overview of Five Constructs (Slides 7 to 16) 40 minutes </h4> 
                <p> Through guided instruction participants will learn about the multiple constructs in detail. They will sort their sticky notes by construct. </p> <br> 
                <h4> The Why and How of Fractions Teaching (Slides 17 – 26) 25 minutes</h4> 
                <p> A brief overview of the fractions research will be shared with
                    participants, who will then be introduced to the Fractions
                    Learning Pathways (FLP) and related resources.</p> <br> 
                <h4> Purposeful Models (Slides 27 – 31) 10 minutes</h4> 
                <p> This brief overview highlights the most powerful models for fractions learning.</p> <br> 
                <h4> Building Understanding of Unit Fractions (Slides 32 – 43) 25 minutes</h4> 
                <p> Participants will learn about the connections of unit fractions across mathematical learning)</p> <br> 
                <h4> Applying Unit Fractions (Slides 44 – 50) 25 minutes</h4> 
                <p> Through a variety of activities, participants will apply their
                    understanding of unit fractions to comparing fractions and
                    density of fractions. </p> <br> 
            </td>
            <td>
                <ul>
                    <li> When revisiting Sticky Note Task
                      <ul>
                        <li>What fractions were challenging to place? Why? </li>
                        <li> What fractions were easy to place? Why?</li>
                        <li> What surprised you? Why?</li>
                      </ul>
                    </li>
                    <li> Have you used any tasks from the FLP?</li>
                    <li> How does the FLP align with your thinking about how students learn fractions?</li>
                    <li> What representations did you use predominately in the sticky note activity?</li>
                    <li> What messaging do we give students through our language? Do we say “solve using math or drawing a diagram”?</li>
                    <li> What other connections can you make between unit fractions and secondary mathematics content?</li>
                    <li> How does understanding the denominator as the fractional unit help you compare these two fractions?</li>
                    <li> How does understanding the numerator as the count help you compare these two fractions?</li>
                    <li> Could you add labels to the number line to assist you? (Maybe those that are outside the two fractions given.)</li>
                    <li> Can you find a fraction between but not necessarily in the middle of those twonumbers?</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li> Many contexts can be described using part- part and partwhole fractions. It is  very important to annotate and use explicit language.</li>
                    <li> This validates my thinking about how students learn fractions.</li>
                    <li> There are many great tasks with lots of support in the FLP that I can use with my students</li>
                    <li> I never thought about the power of the number line.</li>
                    <li> I can see how this would help students scale an axis better </li>
                    <li> I never considered the power of the unit fraction – it really is foundational.</li>
                    <li> I only ever compared by finding a common denominator. These  other ways are so much easier, likemodels! </li>
                    <li>I wish I had used unit fractions to teach radian measure</li>
                    <li> The fraction between two fractions activity  made me realize the importance of using mixed numbers with my students (rather than always converting to improper fractions) </li>
                  </ul>
            </td>
            <td>
                <ul>
                    <li> <i> Math Teaching for Learning: Ways We Use Fractions </i> (one/person) Note: Handouts not to be distributed until slide 8.</li>
                    <li> Blank Paper</li>
                    <li> Pens/Coloured Pencils</li>
                  </ul>
                <p> <i> Math Teaching for Learning: Building Understanding of Unit Fractions </i> (one/person)</li>
            </td>
          </tr> <!-- End Third Row -->
          
          <!-- Fourth Row  -->
          <tr>
            <td>
                <h4 class="centered-text"> Consolidation/Debrief (10 minutes)</h4>
                <h4> Fractions across the Secondary Curriculum (Slide 51 – 53) 5 minutes</h4> 
                <p> Lessons learned about the benefits of supporting students with fractions learning will be shared. </p> <br> 
                <h4> Fraction Resources (Slide 54 – 55) 5 minutes</h4> 
                <p> Highlight the location of additional resources.</p> <br> 
            </td>
            <td>
              <ul>
                <li> How could you connect with teachers from other subject areas to improve fractions teaching and learning?</li>
              </ul>
            </td>
            <td>
                 <ul>
                    <li> Using common language across the subject areas can be very beneficial to student understanding</li>
                    <li> These activities can make a difference with my students.</li>
                    <li> I can see that the academic students have the knowledge. I will work to build that for my applied students.</li>
                  </ul>
            </td>
            <td>
            </td>
          </tr> <!-- End of Fourth Row -->
        </table>
      </section>


    <section class="row table-responsive">
        <table class="table table-bordered table-striped tbl-medium-font" id="ftable">
          
          <!-- First Row -->
          <tr>
            <td>
              <h4 class="centered-text"> Adaptions</h4>
            </td> 
            <td>
              <h4 class="centered-text"> Materials</h4>
            </td>
          </tr> <!-- End First Row -->
          
          <!-- Second Row -->
          <tr>
            <td>
              <h4> If you have 20 minutes:</h4> 
              <p> Learning Focus:</p> 
              <ul>
                <li> understand the critical fractions concepts for secondary
                    students based upon the Fractions Learning Pathways</li>
              </ul>
              <p> Activities: <br> Participants engage in Unit Fractions counting game. Show them FLP.</p> 
            </td>
            <td>
            </td>
          </tr> <!-- End Second Row -->
         
          <!-- Third Row -->
          <tr>
            <td>
                <h4> If you have 1.5 hours:</h4> 
                <p> Learning Focus:</p> 
                <ul>
                  <li> understand the critical fractions concepts for secondary students based upon the Fractions Learning Pathways</li>
                  <li>engage in activities which connect the Fractions Learning Pathways to secondary curriculum</li>
                  <li>access easy to adapt instructional strategies to increase student understanding of fractions </li>
                  <li>understand the role of unit fractions across mathematical concepts</li>
                </ul>
                <p> Activities: <br> Omit slides 6, 16, 29, 30, 33, 34, 48, 50-53. <br> Revise times for slides 22-25 (10 minutes only) and slide 43 (5
                  minutes only). Slide 29 do only the first two adaptations and allow 4 minutes</p> 
            </td>
            <td>
                <p> See 2.5 hours outline</p>
            </td>
          </tr> <!-- End Third Row -->
          
          <!-- Fourth Row  -->
          <tr>
              <td>
                  <h4> If you have 5.5 hours:</h4> 
                  <p> Learning Focus: </p> 
                  <ul>
                    <li> understand the critical fractions concepts for secondary students based upon the Fractions Learning Pathways</li>
                    <li> engage in activities which connect the Fractions Learning Pathways to secondary curriculum</li>
                    <li> access easy to adapt instructional strategies to increase student understanding of fractions </li>
                    <li> understand the role of unit fractions across mathematical concepts</li>
                    <li> understand the role of unit fractions within the operations with fractions</li>
                  </ul> 
                  <p> Activities: <br> Modify the Addition and Subtraction of Fractions and/or Multiplication and Division of Fractions Professional Learning Modules. If you only
                    have this day, you may wish to spend 1.5 hours on each (see adaptations in each for suggestions for 1.5 hour session). If you have
                    multiple days, you may wish to focus on addition and subtraction for this session and address multiplication and division in a subsequent session</p> 
              </td>
              <td style="width: 30%">
                  <ul>
                    <li>  See 2.5 hours outline</li>
                  </ul>
              </td>
            </tr> <!-- End of Fourth Row -->

          <!-- Fifth Row -->
          <tr>
              <td>
                  <h4> Suggestions if you are offering the session as part of a series:</h4> 
                  <p>Have participants engage in unit fractions counting game with their
                      students on a regular basis. Have them share the student responses
                      and any shifts in thinking.</p>
              </td>
              <td> </td>
            </tr> <!-- End of Fifth Row -->
            
          <!-- Sixth Row -->
          <tr>
              <td>
                  <h4> Considerations if you are offering the session on-line:</h4> 
                  <p> Use polls to collect information about the fraction selected and the
                      representations used on slide 16. <br>
                      Use a whiteboard for the number line activity on slide 46. Create the
                      number lines and fractions in advance, along with a number of
                      partition marks which participants can drag into place as they explain
                      their thinking.<br>
                      Use animation on the PPT for slide 50, allowing participants to
                      annotate the image and explain their thinking using the microphone.</p>
              </td>
              <td> </td>
            </tr> <!-- End of Sixth Row -->
          
        </table>
      </section>
    


    <section class="row icons-tabs-section">
      <ul class="nav nav-tabs" id="icons-tabs" role="tablist">
        <li class="nav-item active">
          <a class="nav-link" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">
            <p><img src="../images/fractions-icons/Templates-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Templates</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list2-tab" data-toggle="tab" href="#list2" role="tab" aria-controls="list2" aria-selected="false">
            <p><img src="../images/fractions-icons/implementation-grey.png" alt="" width="80px" height="50px" /></p>
            <p>Implementation</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list3-tab" data-toggle="tab" href="#list3" role="tab" aria-controls="list3" aria-selected="false">
            <p><img src="../images/fractions-icons/student-thinking-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Student Thinking</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list4-tab" data-toggle="tab" href="#list4" role="tab" aria-controls="list4" aria-selected="false">
            <p><img src="../images/fractions-icons/Resources-icon-grey.png" alt="" width="40px" height="50px" /></p>
            <p>Additional Resources</p>
          </a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <!-- Templates TAB - LIST -->
        <div class="tab-pane fade in active" id="list" role="tabpanel" aria-labelledby="list-tab">

          <figure><figcaption><div class="gen-pdf"><a href="/pdf/fracSecondary/Fractions_WaysWeUse_BLM1_ConstructHeadings_AODA.pdf" target="_blank">Download PDF</a></div></figcaption>
            <img src="/images/fracSecondary/Fractions_WaysWeUse_BLM1_ConstructHeadings_AODA-page-001.jpg" alt="BLM 1" class="img-responsive margin-auto" /> </figure>

        </div>
        <!-- Implementation TAB - LIST -->
        <div class="tab-pane fade" id="list2" role="tabpanel" aria-labelledby="list2-tab">x

        </div>
        <!-- Student Thinking TAB - LIST -->
        <div class="tab-pane fade" id="list3" role="tabpanel" aria-labelledby="list3-tab">

        </div>
        <!-- Additional Resources TAB - LIST -->
        <div class="tab-pane fade" id="list4" role="tabpanel" aria-labelledby="list4-tab">

          <div class="row">
            <a href="/supportDocs/buildAddSub">
              <div class="col-sm-6 col-md-4">
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

  </section> <!-- End PDF page section -->
  <%- include partials/footer.ejs%>
