<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <!-- <li class="breadcrumb-item"><a href="/tasks">Activities</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./pathwayTasks">Tasks</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./op">Operations Tasks</a></li> -->
  <li class="breadcrumb-item active"><a href="/tasks/pathwayTasks">Classroom Resources</a></li>
  <li class="breadcrumb-item active">Banana Bread Bake Off</li>
</ol>

<main>

  <!-- Tasks Header -->
  <section class="container learningPathWays-title">
    <div class="row padding-bottom">
      <div class="col-sm-3 col-md-3 display-flex">
        <div id="triangle-bottomright" class="triangle-bottomright-purple"></div>
        <div id="rectangle" class="display-flex rectangle-purple">
          <p>OP N</p>
        </div>
        <div id="triangle-topleft" class="triangle-topleft-purple"></div>
      </div>
      <div class="col-sm-6 col-md-6">
        <h1>  </h1>
      </div>
      <div class="col-sm-3 col-md-3">
        <figure>
          <a href="/#pathway-purple"><img src="/images/Fractions-Learning_pathway-purple.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
        </figure>
      </div>
    </div> <!-- End div.row -->
  </section>
  <!-- End Tasks Header -->

  <section class="container dot-lists pdf-page ">
    <!-- PDF page Section -->
    <section class="row gen-pdf-container">
      <div class="gen-pdf">
        <a href="/pdf/iWonder/A2_Iwonder_20160713_TASK v4 AODA.pdf" target="_blank">Download PDF</a>
      </div>
    </section>

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>I Wonder</h1>
      </div>
    </section>


    <section class="row" style="float:right; padding: 0px 20px 10px 20px;">
      <img src="/images/tasks/iWonder/Task-Pic.JPG" width="270" height="60" alt="Task" class="img-responsive margin-auto" />
    </section>

    <section class="row">
      <h4>Description</h4>
      <p>This assessment-for-learning task can be used as an assessment tool and/or checkpoint
          activity. It may be completed in a group or as an individual assessment and used to guide
          instruction.</p>

      <h4>Mathematics</h4>
      <p>Students come to school with some understanding of fractions grounded in experience with ‘fair shares’.
          This experience is often connected to contexts of sharing food equally (e.g., half of my sandwich, half of
          a cookie). If completed at the beginning of a school year, this task has the potential to guide instruction
          based on existing schemas of the students. It may also uncover common misconceptions which can be
          addressed with intentional instruction focused on cells in the Unit Fractions cluster in the Fractions
          Learning Pathways. Student responses to this task will help with decisions about where to focus
          instruction in the cluster. Mid-year, it could be used for guiding differentiated instruction based on what is
          known about student understanding or misconceptions. At the end of the year, it can be used for
          assessment of learning.</p>
    </section>

    <section class="row">
      <h4>Curriculum Connections</h4>
      <p>Students will: (Mathematical Process Expectations)</p>
      <ul>
        <li>communicate mathematical thinking orally, visually and in writing, using a variety of representations (Communicating);</li>
        <li>reflect on and monitor their thinking to clarify their understanding (Reflecting);</li>
        <li>relate mathematical ideas to situations drawn from everyday contexts (Connecting).</li>
      </ul>
    </section>

    <section class="row">
      <h4>Instructional Sequence</h4>
      <ol>
        <li>Ask students to think of a time that they used fractions in their daily lives. Students can use “think, pair, share” to generate ideas and discuss.</li>
        <li>After a whole group debrief, divide students into groups of 2 or 3 to discuss: (a) what they know
            about fractions; and (b) what they are still wondering about. Have manipulatives available for each
            group.</li>
        <li>Using a communication method of your choice (chart paper, apps or websites such as Padlet,
            Explain Everything, Notepad, etc.), have students record their thinking individually and then discuss
            as a small group, recording their collective thinking on BLM 1. As students are working, check in with
            groups using the key questions to prompt conversations and observations.</li>
        <li>Share thinking across groups using consolidation method of choice (e.g., Gallery Walk, Pairs,
            Bansho etc.). Encourage students to seek answers to their wonderings in others’ work and provide
            insight into other students’ wonderings where possible. Some or all of these can remain posted in the
            room as a reference point during investigations and/or a celebration of learning.</li>
      </ol>
    </section>

    <section class="row">
      <div class="col-sm-6 col-md-6 no-padding-left">
        <h4>Highlights of Student Thinking</h4>
        <p>Students may:</p>
        <ul>
          <li>have very little (or a lot of) understanding of fractions;</li>
          <li>represent fractions in a variety of ways;</li>
          <li>demonstrate misconceptions in ‘What they know’ section; and</li>
          <li>have procedural knowledge, but struggle to articulate understanding of the concepts discussed.</li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-6">
        <h4 class="title-indentation">Key Questions</h4>
        <ol>
          <li>Can represent your understanding in a different way?</li>
          <li>Can you explain why you chose this representation?</li>
          <li>What do you notice about…?</li>
          <li>What is a definition for…?</li>
          <li>What other math have you done that is similar to this?</li>
        </ol>
      </div>
    </section>
    <!-- <abbr title="Blackline Master">BLM</abbr>  -->
    <section class="row">
      <h4>Materials</h4>
      <ul>
        <li>BLM 1 (one copy per student, if using)</li>
        <li>Chart paper/markers and/or devices</li>
        <li>A variety of math manipulatives (e.g., relational rods, colour tiles, fraction pieces)</li>
      </ul>
    </section>

    <section class="row icons-tabs-section">
      <ul class="nav nav-tabs" id="icons-tabs" role="tablist">
        <li class="nav-item active">
          <a class="nav-link" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">
            <p><img src="../images/fractions-icons/Templates-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Templates</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list2-tab" data-toggle="tab" href="#list2" role="tab" aria-controls="list2" aria-selected="false">
            <p><img src="../images/fractions-icons/implementation-grey.png" alt="" width="80px" height="50px" /></p>
            <p>Implementation</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list3-tab" data-toggle="tab" href="#list3" role="tab" aria-controls="list3" aria-selected="false">
            <p><img src="../images/fractions-icons/student-thinking-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Student Thinking</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list4-tab" data-toggle="tab" href="#list4" role="tab" aria-controls="list4" aria-selected="false">
            <p><img src="../images/fractions-icons/Resources-icon-grey.png" alt="" width="40px" height="50px" /></p>
            <p>Additional Resources</p>
          </a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <!-- Templates TAB - LIST -->
        <div class="tab-pane fade in active" id="list" role="tabpanel" aria-labelledby="list-tab">

          <figure><figcaption><div class="gen-pdf"><a href="/pdf/iWonder/A2_Iwonder_BLM_20160713_v3.pdf" target="_blank">Download PDF</a></div></figcaption>
            <img src="/images/tasks/iWonder/A2_Iwonder_BLM_20160713_v3.jpg" alt="Cake Relay BLM 1" class="img-responsive margin-auto" /> </figure>
        </div>
        <!-- Implementation TAB - LIST -->
        <div class="tab-pane fade" id="list2" role="tabpanel" aria-labelledby="list2-tab">

        </div>
        <!-- Student Thinking TAB - LIST -->
        <div class="tab-pane fade" id="list3" role="tabpanel" aria-labelledby="list3-tab">

          <figure><figcaption><div class="gen-pdf"><a href="/pdf/iWonder/A2_Iwonder_studentthinking_Sample 1.pdf" target="_blank">Download PDF</a></div></figcaption>
            <img src="/images/tasks/iWonder/A2_Iwonder_studentthinking_Sample 1.jpg" alt="Creating Sums Close to One Studing Thinking sample one and two" class="img-responsive margin-auto" /></figure>
          <figure><figcaption><div class="gen-pdf"><a href="/pdf/iWonder/A2_Iwonder_studentthinking_Sample 2.pdf" target="_blank">Download PDF</a></div></figcaption>
            <img src="/images/tasks/iWonder/A2_Iwonder_studentthinking_Sample 2.jpg" alt="Creating Sums Close to One Studing Thinking sample three and four" class="img-responsive margin-auto" /></figure>

        </div>
        <!-- Additional Resources TAB - LIST -->
        <div class="tab-pane fade" id="list4" role="tabpanel" aria-labelledby="list4-tab">

          <div class="row">
            <a href="/supportDocs/buildAddSub">
              <div class="col-sm-6 col-md-4">
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

  </section> <!-- End PDF page section -->
  <%- include partials/footer.ejs%>
