<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <!-- <li class="breadcrumb-item"><a href="/tasks">Activities</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./pathwayTasks">Tasks</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./op">Operations Tasks</a></li> -->
  <li class="breadcrumb-item active"><a href="/tasks/pathwayTasks">Classroom Resources</a></li>
  <li class="breadcrumb-item active">Banana Bread Bake Off</li>
</ol>

<main>

  <!-- Tasks Header -->
  <section class="container learningPathWays-title">
    <div class="row padding-bottom">
      <div class="col-sm-3 col-md-3 display-flex">
        <div id="triangle-bottomright" class="triangle-bottomright-purple"></div>
        <div id="rectangle" class="display-flex rectangle-purple">
          <p>OP P</p>
        </div>
        <div id="triangle-topleft" class="triangle-topleft-purple"></div>
      </div>
      <div class="col-sm-6 col-md-6">
        <h1>Divide a fraction by an unlike denominator fraction with a non-whole number remainder</h1>
      </div>
      <div class="col-sm-3 col-md-3">
        <figure>
          <a href="/#pathway-purple"><img src="/images/Fractions-Learning_pathway-purple.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
        </figure>
      </div>
    </div> <!-- End div.row -->
  </section>
  <!-- End Tasks Header -->

  <section class="container dot-lists pdf-page ">
    <!-- PDF page Section -->
    <section class="row gen-pdf-container">
      <div class="gen-pdf">
        <a href="/pdf/mapleSyrup/T47_N3_maplesyrup_task AODA.pdf" target="_blank">Download PDF</a>
      </div>
    </section>

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Bottling Maple Syrup</h1>
      </div>
    </section>


    <section class="row">
      <h4>Description</h4>
      <p>Students investigate how many 4 3 L bottles can be filled with a large amount of maple syrup through questioning, estimating, modelling and verifying. The visual models allow students to interpret the meaning of the remainder.</p>

      <h4>Mathematics</h4>
      <p>This task supports students in understanding the meaning of dividing fractions with unlike denominators,
          that includes a remainder that must be resolved with respect to the divisor. Using real world examples
          and visual models provides students with an entry point into dividing fractions which does not rely on
          rote use of an algorithm. Interpreting the remainder correctly requires students to track the units and to
          make sense of the relationship between them. When students’ only strategy for division with fractions is
          to use an algorithm, they have no need to reason about the remainder. This procedural knowledge does
          not support them in understanding the operation of division or the meaning of the remainder, limiting
          their ability to sense make in subsequent mathematics concepts involving division.</p>
    </section>

    <section class="row">
      <h4>Curriculum Connections</h4>
      <p>Students will:</p>
      <ul>
        <li>divide fractions with unlike denominators where the answer will have a fractional remainder; and</li>
        <li>use proportional reasoning to estimate and represent the reasonableness of quantities of syrup.</li>
      </ul>
    </section>

    <section class="row">
      <h4>Instructional Sequence</h4>
      <ol>
        <li>(Optional) Use the PowerPoint to introduce the information and task. A script is included with the PPT
            which includes information regarding instruction. </li>
        <p style="margin-left:20px;"> a. The Introduction section (slides 1-3) provides visuals of the syrup and the bottles and engages
            the students in questioning.</p>
        <p style="margin-left:20px;"> b. The Task Section (slides 4-7) supports students in making sense of the volume of syrup and the
            capacity of the bottles to be filled. Animations allow for student thinking before quantities are
            revealed. Part 3 (slide 7) states the task to be completed.</p>
        <li>Distribute BLM 1 to students and allow them to work through the task with a partner or small group. Encourage students to use a visual representation to think through the solution.</li>
        <li>Have students share their solutions (either whole class or by joining with other students). Allow time
            for them to discuss their reasoning and to make any revisions to their own work they deem necessary.</li>
        <li>(Optional) Use The Solution section (Slides 8-9) of the PowerPoint to show the solution to the task.</li>
        <li>Consolidate the learning with a discussion of the meaning of the remainder as a result of division as determined by students through their solutions. (Optional) Use The Remainder section (Slide 10) to
            show why the remainder of <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>8</sub></span></abbr>L of syrup is equal to 
            <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> bottle.</li>
      </ol>
    </section>

    <section class="row">
      <div class="col-sm-6 col-md-6 no-padding-left">
        <h4>Highlights of Student Thinking</h4>
        <p>Students may:</p>
        <ul>
          <li>intuitively see that four bottles are filled;</li>
          <li>easily represent the task visually;</li>
          <li>identify the reminder as  <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>8</sub></span></abbr>L;</li>
          <li>convert the  <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr> to 
            <abbr title="one third" class="abbr-frac"><span class="frac"><sup>6</sup><span>&frasl;</span><sub>8</sub></span></abbr>;</li>
          <li>misinterpret that the remainder is actually <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>8</sub></span></abbr> of the <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr>L bottle; and</li>
          <li>convert all values to ml and possibly misinterpret what the decimal means.</li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-6">
        <h4 class="title-indentation">Key Questions</h4>
        <ol>
          <li>How much maple syrup do the different bottles hold?</li>
          <li>How did you represent and label your thinking (bottle amounts vs total amount)?</li>
          <li>Might a different representation help you more?</li>
          <li>What did you do with that extra amount left over?</li>
        </ol>
      </div>
    </section>
    <!-- <abbr title="Blackline Master">BLM</abbr>  -->
    <section class="row">
      <h4>Materials</h4>
      <ul>
        <li><a href="" target="_blank"><abbr title="Blackline Master">Power Point</abbr> 1</a> (optional)</li>
        <li>BLM 1 (1 copy/student)</li>
        <li>Assorted manipulatives including measuring cups</li>
      </ul>
    </section>

    <section class="row icons-tabs-section">
      <ul class="nav nav-tabs" id="icons-tabs" role="tablist">
        <li class="nav-item active">
          <a class="nav-link" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">
            <p><img src="../images/fractions-icons/Templates-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Templates</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list2-tab" data-toggle="tab" href="#list2" role="tab" aria-controls="list2" aria-selected="false">
            <p><img src="../images/fractions-icons/implementation-grey.png" alt="" width="80px" height="50px" /></p>
            <p>Implementation</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list3-tab" data-toggle="tab" href="#list3" role="tab" aria-controls="list3" aria-selected="false">
            <p><img src="../images/fractions-icons/student-thinking-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Student Thinking</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list4-tab" data-toggle="tab" href="#list4" role="tab" aria-controls="list4" aria-selected="false">
            <p><img src="../images/fractions-icons/Resources-icon-grey.png" alt="" width="40px" height="50px" /></p>
            <p>Additional Resources</p>
          </a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <!-- Templates TAB - LIST -->
        <div class="tab-pane fade in active" id="list" role="tabpanel" aria-labelledby="list-tab">

          <figure><figcaption><div class="gen-pdf"><a href="/pdf/mapleSyrup/T47_OJ_Bottling Syrup_BLM_v3.pdf" target="_blank">Download PDF</a></div></figcaption>
            <img src="/images/tasks/mapleSyrup/T47_OJ_Bottling Syrup_BLM_v3 (1)-page-001.jpg" alt="BLM 1" class="img-responsive margin-auto" /> </figure>
          <figure><figcaption><div class="gen-pdf"><a href="/images/tasks/mapleSyrup/Bottling Syrup Task v3.pptx" target="_blank">Download PPT</a></div></figcaption>
            <img src="/images/tasks/mapleSyrup/powerpointpicture.png" alt="Cake Relay BLM 2" class="img-responsive margin-auto"/></figure>
          <figure style="padding-top: 100px"> <video width="1100" height="500" controls> <source src="/videos/mapleSyrup/T47_BottlingMapleSyrup-Proving750.mp4" type="video/mp4"> </video> </figure>
           <figure style="padding-top: 100px"> <video width="1100" height="500" controls> <source src="/videos/mapleSyrup/T47_BottlingMapleSyrup-ProofofTotal.mp4" type="video/mp4"> </video> </figure>

        </div>
        <!-- Implementation TAB - LIST -->
        <div class="tab-pane fade" id="list2" role="tabpanel" aria-labelledby="list2-tab">

        </div>
        <!-- Student Thinking TAB - LIST -->
        <div class="tab-pane fade" id="list3" role="tabpanel" aria-labelledby="list3-tab">

          <figure><figcaption><div class="gen-pdf"><a href="/pdf/mapleSyrup/T47_OJ_Bottling Syrup_Student Thinking_Samples 1 and 2 AODA.pdf" target="_blank">Download PDF</a></div></figcaption>
            <img src="/images/tasks/mapleSyrup/T47_OJ_Bottling Syrup_Student Thinking_Samples 1 and 2.jpg" alt="Creating Sums Close to One Studing Thinking sample one and two" class="img-responsive margin-auto" /></figure>
          <figure><figcaption><div class="gen-pdf"><a href="/pdf/mapleSyrup/T47_OJ_Bottling Syrup_Student Thinking_Sample 3 AODA.pdf" target="_blank">Download PDF</a></div></figcaption>
            <img src="/images/tasks/mapleSyrup/T47_OJ_Bottling Syrup_Student Thinking_Sample 3.jpg" alt="Creating Sums Close to One Studing Thinking sample three and four" class="img-responsive margin-auto" /></figure>
            <figure style="padding-top: 100px"> <video width="1100" height="500" controls> <source src="/videos/mapleSyrup/T47_BottlingMapleSyrup_OP-P_Student Thinking.mp4" type="video/mp4"> </video> </figure>
        </div>
        <!-- Additional Resources TAB - LIST -->
        <div class="tab-pane fade" id="list4" role="tabpanel" aria-labelledby="list4-tab">

          <div class="row">
            <a href="/supportDocs/buildAddSub">
              <div class="col-sm-6 col-md-4">
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

  </section> <!-- End PDF page section -->
  <%- include partials/footer.ejs%>
