<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <!-- <li class="breadcrumb-item"><a href="/tasks">Activities</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./pathwayTasks">Tasks</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./op">Operations Tasks</a></li> -->
  <li class="breadcrumb-item active"><a href="/tasks/pathwayTasks">Classroom Resources</a></li>
  <li class="breadcrumb-item active">Banana Bread Bake Off</li>
</ol>

<main>

  <!-- Tasks Header -->
  <section class="container learningPathWays-title">
    <div class="row padding-bottom">
      <div class="col-sm-3 col-md-3 display-flex">
        <div id="triangle-bottomright" class="triangle-bottomright-purple"></div>
        <div id="rectangle" class="display-flex rectangle-purple">
          <p></p>
        </div>
        <div id="triangle-topleft" class="triangle-topleft-purple"></div>
      </div>
      <div class="col-sm-6 col-md-6">
        <h1></h1>
      </div>
      <div class="col-sm-3 col-md-3">
        <figure>
          <a href="/#pathway-purple"><img src="/images/Fractions-Learning_pathway-purple.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
        </figure>
      </div>
    </div> <!-- End div.row -->
  </section>
  <!-- End Tasks Header -->

  <section class="container dot-lists pdf-page ">
    <!-- PDF page Section -->
    <section class="row gen-pdf-container">
      <div class="gen-pdf">
        <a href="/pdf/meaningsMultDiv/One pager 2 Meanings Mult Div v8 AODA.pdf" target="_blank">Download PDF</a>
      </div>
    </section>

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h3 class="text-blue center">Math Teaching for Learning: Meanings of Multiplication and Division of Fractions</h3>
      </div>
    </section>


    <section class="row">
      <p> It is helpful to relate our knowledge of whole number operations to fraction operations, and, therefore, to consider
          meanings that can be used for both division of whole numbers and division of fractions. However, in North
          America, multiplication is often strongly connected to repeated-addition, which is more difficult to conceive of with
          fractions. For example, while it is relatively straightforward to visualize, or model, adding 3 to itself 4 times (as with
          4 × 3), it is more difficult to visualize adding <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr> to itself 
          <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>3</sub></span></abbr> times (as with <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>3</sub></span></abbr> x
          <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr>) </p>
      <br> 
    </section>

    <section class="row">
        <p> As with whole numbers, the following properties are true for fractions:</p>
        <ol type="a">
          <li> The Commutative Property: a × b = b × a </li>
            <p style="margin-left: 80px; display: inline-block;"> e.g., 2 × 3 = 3 × 2 <p style="margin-left: 200px; display: inline-block;"> <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> x
              <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>5</sub></span></abbr> = <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>5</sub></span></abbr> x
              <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr></p> </p>
          <li > The Associative Property: (a × b) × c = a × (b × c)</li>
            <p style="margin-left: 80px; display: inline-block;"> e.g., (2×3) × 4 = 2 × (3×4) <p style="margin-left: 200px; display: inline-block;"> (<abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> x
              <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>5</sub></span></abbr>) x <abbr title="one third" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>9</sub></span></abbr>  = <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr>  x (<abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>5</sub></span></abbr> x
              <abbr title="one third" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>9</sub></span></abbr>) </p> </p>
          <li> The Identity Property: a × 1 = a; a ÷ 1 = a [Since <abbr title="one third" class="abbr-frac"><span class="frac"><sup>b</sup><span>&frasl;</span><sub>b</sub></span></abbr> = 1, this could be written as a x <abbr title="one third" class="abbr-frac"><span class="frac"><sup>b</sup><span>&frasl;</span><sub>b</sub></span></abbr> = a;
            a &#247; <abbr title="one third" class="abbr-frac"><span class="frac"><sup>b</sup><span>&frasl;</span><sub>b</sub></span></abbr> = a.]</li>
            <p style="margin-left: 80px; display: inline-block;"> e.g., 2 × 1 = 2<p style="margin-left: 200px; display: inline-block;"> <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> x
              1 = <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr>[and since <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>3</sub></span></abbr>  = 1,  <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> x <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>3</sub></span></abbr> = 
              <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr>;
              <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> &#247; <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>3</sub></span></abbr> = <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr>.] </p> </p>
          <li> The Distributive Property a × (b + c) = a × b + a × c</li>
            <p style="margin-left: 80px; display: inline-block;"> e.g., 2 × (3+4) = 2×3 + 2×4 <p style="margin-left: 200px; display: inline-block;"> <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> x
              (<abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>5</sub></span></abbr> + <abbr title="one third" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>9</sub></span></abbr>)  = <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr>  x <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>5</sub></span></abbr> +
              <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> x <abbr title="one third" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>9</sub></span></abbr> </p> </p>
          <li> The Zero Property: 0 ÷ a = 0; 0 × a = 0; a ÷ 0 is undefined (a≠0)</li>
          <p style="margin-left: 80px; display: inline-block;"> e.g., 0 ÷ 2 = 0; 0 × 2 = 0; 2 ÷ 0 is undefined <p style="margin-left: 200px; display: inline-block;"> 0 &#247; <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> = 0; 0 x 
            <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> = 0;<abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> &#247; 0 and <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>0</sub></span></abbr> are undefined.
           </p> </p>
        </ol>
    </section>

    <section>
      <p> Paper folding, arrays and number lines are particularly powerful representations for multiplication and division of
          fractions. Students have early experiences with multiplication of fractions, such as when they consider what one
          third of one half is. The following images show how this can be determined using paper folding.</p>
          <div class="col-md-12 col-sm-12">
            <div class="col-md-4 col-sm-12">
              <img src="/images/meaningsMultDiv/img56.jpg" width="70%">
              <p> Strip folded in half.</p>
            </div>
            <div class="col-md-4 col-sm-12">
                <img src="/images/meaningsMultDiv/img54.jpg" width="45%">
                <p> One half folded in thirds.</p>
              </div>
              <div class="col-md-4 col-sm-12">
                  <img src="/images/meaningsMultDiv/img55.jpg" width="75%">
                  <p> One third of one half is one sixth.</p>
                </div>
          </div>
          <p> Within North America, research clearly indicates that instruction tends to focus on procedures for multiplying and
              dividing fractions, with less attention to developing the concepts underlying these procedures (see Procedural vs.
              Conceptual, Chapter 2 of Fractions Operations: Multiplication and Division Literature Review). This means that the
              emphasis is on how to follow an algorithm (such as invert and multiply for division) rather than on how the
              procedures act on the fractional quantities (e.g., what does it mean to divide fractions) and the reasoning behind the
              operations and/or algorithms themselves (e.g., why do we invert and multiply?). Furthermore, in North America,
              instruction focuses on conceptual understanding separately from procedural fluency. Notably, in Korea the two are
              developed simultaneously. Additionally, unlike North American instruction which focuses on narrow interpretations
              of multiplication and division, the Korean curricula uncovers and addresses multiple meanings of each operation
              (Son and Senk, 2010). These differences are important as Korea has higher mean achievement than the US on
              multiple measures. See Fractions Operations: Multiplication and Division Literature Review for further information.</p>
    </section>
    
    <section>
      <br> <h4> Multiplication Meanings </h4>
      <p> The following multiplication strategies apply across number systems, including whole numbers:</p>
      <ul>
        <li> <p>Measurement multiplication (repeated addition) <br> This is based upon the understanding of multiplication as relating to equal groups. The known values are the
            number of groups and the size of groups, which are multiplied to obtain the product or total quantity. <br> E.g., A recipe calls for <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>8</sub></span></abbr> cup of water. Determine how much water is required to make
            <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> of the recipe. </p>
            <div class="col-md-12 centered-text" style="display:inline-block">
                <img src="/images/meaningsMultDiv/img75.jpg" alt="Measuring Cup Picture">
            </div>
                <p style="display:inline-block;padding-left:20px;"> <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> x  <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>8</sub></span></abbr> = ?</p>      
        </li>
        <li> <p>Partial groups multiplication <br> In partial groups, two fractions are multiplied together.<br> E.g., The distance around a running track is <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr> km. Determine how far a person would run if they travel 1
            <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> of the running track.</p>
            <div class="col-md-12 centered-text" style="display:inline-block">
                <img src="/images/meaningsMultDiv/img78.jpg" height="130px"alt="Distance Line">
                <p style="display:inline-block;padding-left:20px;"> 1 <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> x  <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr> = ?</p>      
             </div>
        </li>
        <li> <p>Cartesian product <br> This interprets multiplication as the shared space of two quantities. An array is used to represent this (see
          <i> Math Teaching for Learning: Representing Multiplication and Division of Fractions with Arrays and Number Lines </i> for
          more information about arrays).<br> E.g., A rectangle has dimensions of <abbr title="one third" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>5</sub></span></abbr> m and <abbr title="one third" class="abbr-frac"><span class="frac"><sup>7</sup><span>&frasl;</span><sub>10</sub></span></abbr> m. 
          What is the area of the rectangle? </p>
          <div class="col-md-12 centered-text" style="display:inline-block">
              <img src="/images/meaningsMultDiv/img83.jpg" width="30%" alt="Grid">
              <p style="display:inline-block;padding-left:20px;"> <abbr title="one third" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>5</sub></span></abbr> x  <abbr title="one third" class="abbr-frac"><span class="frac"><sup>7</sup><span>&frasl;</span><sub>10</sub></span></abbr> = ?</p>      
          </div>
      </li>
      </ul>
    </section>

    <section>
      <h4> Divison Meanings</h4>
      <p> The following division strategies apply across number systems, including whole numbers:</p>
      <ul>
        <li> Measurement division (Quotative; repeated subtraction) <br> This is based upon the understanding of division as relating to equal groups. The known values are the total
          quantity and the size of groups, which are divided to obtain the quotient or number of groups (total quantity &#247; size of the groups = number of groups). <br> <img style="float:right" width="17%" src="/images/meaningsMultDiv/img91.jpg" alt="Rhombus"> E.g., Three yellow hexagons represent one whole. What fraction is represented by one blue rhombus?</li>
        <li> Partitive Division (Fair Share) <br> When we share things fairly we are using partitive division. The known values are the total quantity and the
          number of groups, which are divided to obtain the quotient or size of groups (total quantity &#247;number of groups = size of the groups).<br>  E.g., There is <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>3</sub></span></abbr>
          of a piece of paper which three friends are to share fairly. What fraction of the whole sheet does each person receive?</li>
        <li> Cartesian product (Product and Factors Division) <br> This connects to the interpretation of multiplication as the shared space of two quantities. As the inverse of
          multiplication, division connects to determining an unknown dimension if the total area and one dimension are known. An array is used to represent this (see One pager 1 for more information about arrays).<br>  
          E.g., A rectangle has an area of <abbr title="one third" class="abbr-frac"><span class="frac"><sup>7</sup><span>&frasl;</span><sub>25</sub></span></abbr>m&#178; and one dimension of <abbr title="one third" class="abbr-frac"><span class="frac"><sup>7</sup><span>&frasl;</span><sub>10</sub></span></abbr>m. 
          What is the length of the other side ? </li>
      </ul>
    </section>

    <section>
      <p> The following division strategies relate to fractions specifically:</p>
      <ul>
          <li> Unit Rate <br> This is based upon the understanding of division as relating to equal groups but is focused on determining
            the size of one group. <br> E.g., Jose can paint both sides of a door in 1 <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr>
            hours. How much of the door can Jose paint in 1 hour?</li>
            <div class="col-md-12 centered-text" style="display:inline-block">
                <img src="/images/meaningsMultDiv/img94.jpg" width="65%" alt="Grid">
             <p style="display:inline-block;padding-left:20px;"> 1 &#247; 1 <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> = ?</p>
            </div>
          <li> Inverse of Multiplication<br> This model is the one that is most often emphasized in North American instruction and is recognized as the
            algorithm for division involving fractions. Since division is the inverse of multiplication, by inverting a
            fraction and multiplying, the inverse is applied. <br> E.g., <abbr title="one third" class="abbr-frac"><span class="frac"><sup>7</sup><span>&frasl;</span><sub>25</sub></span></abbr> &#247;
            <abbr title="one third" class="abbr-frac"><span class="frac"><sup>7</sup><span>&frasl;</span><sub>10</sub></span></abbr> =  <abbr title="one third" class="abbr-frac"><span class="frac"><sup>7</sup><span>&frasl;</span><sub>25</sub></span></abbr> x 
            <abbr title="one third" class="abbr-frac"><span class="frac"><sup>10</sup><span>&frasl;</span><sub>7</sub></span></abbr></li>
        </ul>
        <br>
    </section>

    <section>
      <div class="green-background">
      <br> 
      <h4> Myths about Multiplication and Division </h4>
      <p> Students often over generalize patterns in whole number multiplication and division, resulting in confusion
          when working with fractions and other rational numbers. In addition to using representations, such as number
          lines and arrays, real life contexts, such as fair share contexts, help students to realize that these are myths.
          Additionally, using number patterns supports students in sense making about operations with fractions (e.g., 3 × 5, 2 × 5, 1 × 5, 0 × 5,
          <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>5</sub></span></abbr> x 5,  <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr> x 5, etc.). </p>
      <p style="display: inline-block"> <i>Myth 1: Multiplication always results in a larger answer. </i> <br> Although this is always true with positive whole numbers, it is not true with fractions. <br> For example,  <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> x
          <abbr title="one third" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>3</sub></span></abbr> =  <abbr title="one third" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>6</sub></span></abbr>,   
          <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> &lt; <abbr title="one third" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>6</sub></span></abbr> &lt; <abbr title="one third" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>3</sub></span></abbr> 
      </p>
      <p> This is also not true with integers (-2 x 3 = -6) and decimals (0.5 x 1.5 = 0.75). </p>
      <p style="display: inline-block"> <i>Myth 2: Division always results in a smaller answer. </i> <br> Again, although this is true with positive whole numbers, it is not true with fractions. <br> For example,  <abbr title="one third" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>6</sub></span></abbr> &#247; 
          <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> =  <abbr title="one third" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>3</sub></span></abbr>,   
          <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> &lt; <abbr title="one third" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>6</sub></span></abbr> &lt; <abbr title="one third" class="abbr-frac"><span class="frac"><sup>5</sup><span>&frasl;</span><sub>3</sub></span></abbr> 
          <p> This is also not true with integers (-6 ÷ -2 = 3) and decimals (0.75 ÷ 1.5 = 0.5).</p>
      <p style="display: inline-block"> <i>Myth 3: The larger number is always divided by the smaller number. </i> <br> This is a pattern with whole number division questions presented to learners in an effort to avoid answers less
        than one. However, the order of the division statement is related to the meaning of the quantities rather than
        their values. <br> Consider the previous example: There is <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>3</sub></span></abbr> of a piece of paper which three friends are to share fairly. What
         fraction of the whole sheet does each person receive? The number sentence would be <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>3</sub></span></abbr>  &#247; 3. </p>
      </div>
    </section>

    <section>
      <br> <p> Reference: <br>
          Son, J-W., & Senk, S. L. (2010). How reform curricula in the USA and Korea present multiplication and division of
          fractions. Educational Studies in Mathematics, 74: 117-142.</p>
    </section>

  </section> <!-- End PDF page section -->
  <%- include partials/footer.ejs%>
