<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <!-- <li class="breadcrumb-item"><a href="/tasks">Activities</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./pathwayTasks">Tasks</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./op">Operations Tasks</a></li> -->
  <li class="breadcrumb-item active"><a href="/tasks/pathwayTasks">Classroom Resources</a></li>
  <li class="breadcrumb-item active">Banana Bread Bake Off</li>
</ol>

<main>

  <!-- Tasks Header -->
  <section class="container learningPathWays-title">
    <div class="row padding-bottom">
      <div class="col-sm-3 col-md-3 display-flex">
        <div id="triangle-bottomright" class="triangle-bottomright-purple"></div>
        <div id="rectangle" class="display-flex rectangle-purple">
          <p></p>
        </div>
        <div id="triangle-topleft" class="triangle-topleft-purple"></div>
      </div>
      <div class="col-sm-6 col-md-6">
        
      </div>
      <div class="col-sm-3 col-md-3">
        <figure>
          <a href="/#pathway-purple"><img src="/images/Fractions-Learning_pathway-purple.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
        </figure>
      </div>
    </div> <!-- End div.row -->
  </section>
  <!-- End Tasks Header -->

  <section class="container dot-lists pdf-page ">
    <!-- PDF page Section -->
    <section class="row gen-pdf-container">
      <div class="gen-pdf">
        <a href="/pdf/multDivFrac/BLM 5 Mult Div Fractions across the K12 Curr v3.pdf" target="_blank">Download PDF</a>
      </div>
    </section>

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h3 style="text-align:center;">Math Teaching for Learning:</h3>
        <h3 style="text-align:center;">Multiplication and Division of Fractions across the K-12 Mathematics Curriculum</h3>
      </div>
    </section>

    <section class="row">
      <p>Within the <a href="https://fractions2019.herokuapp.com/pdf/Fractions%20Learning%20Pathway.pdf"> Fractions Learning Pathways</a>, twelve cells specify the foundational actions that support
        student understanding of multiplication and division of fractions. This support document is intended to provide a K-12 perspective on the role of multiplying and dividing fractions in students’ learning.
        Studies have shown “if children are given the time to develop their own reasoning for at least three years without being taught standard algorithms for operations with fractions and ratios, then a
        dramatic increase in their reasoning abilities occurred, including their proportional thinking” (Brown & Quinn, 2006, p. 39, citing Lamon, 1999)..</p>
    </section>

    <section class="row">
     <br> <h4>Multiplication as the Inverse of Division and vice versa</h4>
      <p> Students have experience with the inverse relationship between division and multiplication with whole numbers. They use this knowledge when solving questions such as 4 × ? = 12 by determining that
          12 ÷ 4 = 3. As students compose and decompose fractions, they often intuitively use multiplication and division interchangeably. For example, a young student may state that ‘One whole is equal to two
          halves’ or that ‘One whole divided into two equals half.’ Older students use the inverse relationship to solve fractions tasks involving multiplication and division. When presented with the question 
          <abbr title="one third" class="abbr-frac"><span class="frac"><sup>6</sup><span>&frasl;</span><sub>4</sub></span></abbr> &#247 <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>8</sub></span></abbr>,
          many students considered 'how many <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>8</sub></span></abbr> are there in <abbr title="one third" class="abbr-frac"><span class="frac"><sup>6</sup><span>&frasl;</span><sub>4</sub></span></abbr>?' (or
          ? x <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>8</sub></span></abbr> = <abbr title="one third" class="abbr-frac"><span class="frac"><sup>6</sup><span>&frasl;</span><sub>4</sub></span></abbr>).
      </p> <br>
    </section>

    <section class="row">
        <div class="darkblue">
          <p> <strong> What does this look like in the Ontario Mathematics Curriculum (Specific Expectations)? <br>  Students will: </strong><br>
            Grade 2: regroup fractional parts into wholes, using concrete materials. <br>
            Grade 3: divide whole objects and sets of objects into equal parts, and identify the parts using fractional names (e.g., one half; three thirds; two fourths or two quarters), without using numbers in standard fractional notation.<br>
            Grade 7: use estimation when solving problems involving operations with whole numbers, decimals, percents, integers, and fractions, to help judge the reasonableness of a solution; <br>
            Grade 9• solve problems requiring the expression of percents, fractions, and decimals in their equivalent forms (MPM 1D) </p>
        </div>
    </section>

    <section class="row">
      <br> <h4> Connecting Multiplication and Division to Counting by Unit Fractions and Composing/Decomposing Fractions </h4>
       <p>Unit fractions are foundational to all fractions understanding. Any fraction can be expressed as the
          product of a whole number and a unit fraction. For example, <abbr title="one third" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>5</sub></span></abbr> = 2 x
          <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>5</sub></span></abbr>. As students intuitively record
          their thinking using multiplication or division, they will develop an understanding of the connection between the count (numerator) and the multiplier (whole number). They will begin to understand that
          multiplication of a fraction by a whole number affects the count but not the fractional unit (denominator). Later, when answering questions such as 2 x <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>5</sub></span></abbr>,
          students may consider this as ‘2 x 3 one-fifth units = 6 one-fifth units’. This is parallel to questions such as 2 × 3 cm = 6 cm..</p>
    </section>

    <section class="row">
      <div class="darkblue">
          <p> <strong> What does this look like in the Ontario Mathematics Curriculum (Specific Expectations)? <br>  Students will: </strong><br>
            Grade 1: divide whole objects into parts and identify and describe, through investigation, equal-sized parts of the whole, using fractional names (e.g., halves; fourths or quarters). <br>
            Grade 6: determine and explain, through investigation using concrete materials, drawings, and calculators, the relationships among fractions, decimal numbers, and percents.<br>
            Grade 8: translate between equivalent forms of a number;<br>
            Grade 11: express the equation of a quadratic function in the vertex form f(x) = a(x − h)&#178; + k, given the standard form f(x) = ax&#178; + bx + c, by completing the square, including cases where 
            <abbr title="one third" class="abbr-frac"><span class="frac"><sup>b</sup><span>&frasl;</span><sub>a</sub></span></abbr> is a simple rational number (MCF 3M)</p>
      </div>
    </section>

    <section class="row">
      <br><h4> Multiplication and Division of Fractions Using Models</h4>
       <p> Number lines and arrays are powerful models for understanding multiplication and division of fractions. Use of models aids students in making sense of their answers. An array can be used to
          easily calculate the answer to a multiplication question, such as 1<abbr title="one third" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>3</sub></span></abbr> x 
          <abbr title="one third" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>5</sub></span></abbr>. Each array represents 1
          whole. One dimension is partitioned into thirds and 1<abbr title="one third" class="abbr-frac"><span class="frac"><sup>2</sup><span>&frasl;</span><sub>3</sub></span></abbr> is shaded red. The other is partitioned into fifths, with
          <abbr title="one third" class="abbr-frac"><span class="frac"><sup>4</sup><span>&frasl;</span><sub>5</sub></span></abbr> shaded blue. Notice that it is four-
          fifths of the vertical dimension so both areas are coloured. Another way to think about this is by considering it as a connection to the Distributive Property – four-fifths of both one
          and of two-thirds. The answer is indicated by the overlapping area (purple)– a total of 20 regions, each region representing <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>15</sub></span></abbr> - equal to
          <abbr title="one third" class="abbr-frac"><span class="frac"><sup>20</sup><span>&frasl;</span><sub>15</sub></span></abbr>. Number lines are particularly helpful for division questions with a remainder. For example, consider 1 
          <abbr title="one third" class="abbr-frac"><span class="frac"><sup>7</sup><span>&frasl;</span><sub>8</sub></span></abbr> &#247 <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr>. Students could see that each 
          hop is  <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> and there is a remainder of  <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>8</sub></span></abbr>. They could see
          that the remainder of  <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>8</sub></span></abbr> is equivalent to
          <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr> of one job. They can reason that 1<abbr title="one third" class="abbr-frac"><span class="frac"><sup>7</sup><span>&frasl;</span><sub>8</sub></span></abbr> &#247
          <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>2</sub></span></abbr> = 3<abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr>. Students may phrase  this as ‘there are three halves and three-fourths of a half’.

      </p>
    </section>
    
    <section class="row">
        <div class="darkblue">
          <p> <strong> What does this look like in the Ontario Mathematics Curriculum (Specific Expectations)? <br>  Students will: </strong><br>
            Grade 5: describe multiplicative relationships between quantities by using simple fractions and decimals; <br>
            Grade 8: represent the multiplication and division of fractions, using a variety of tools and strategies;<br>
            Grade 10: use the imperial system when solving measurement problems. (MFM 2P)<br>
        </div>
    </section>

    <section class="row">
        <br> <h4>For further information, visit fractionsteaching.ca</h4>
         <ul>
           <li>Fractions Learning Pathways</li>
           <li>Fractions Operations: Multiplication and Division Literature Review</li>
         </ul>>
    </section>

    <section class="row icons-tabs-section">
      <ul class="nav nav-tabs" id="icons-tabs" role="tablist">
        <li class="nav-item active">
          <a class="nav-link" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">
            <p><img src="../images/fractions-icons/Templates-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Templates</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list2-tab" data-toggle="tab" href="#list2" role="tab" aria-controls="list2" aria-selected="false">
            <p><img src="../images/fractions-icons/implementation-grey.png" alt="" width="80px" height="50px" /></p>
            <p>Implementation</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list3-tab" data-toggle="tab" href="#list3" role="tab" aria-controls="list3" aria-selected="false">
            <p><img src="../images/fractions-icons/student-thinking-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Student Thinking</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list4-tab" data-toggle="tab" href="#list4" role="tab" aria-controls="list4" aria-selected="false">
            <p><img src="../images/fractions-icons/Resources-icon-grey.png" alt="" width="40px" height="50px" /></p>
            <p>Additional Resources</p>
          </a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <!-- Templates TAB - LIST -->
        <div class="tab-pane fade in active" id="list" role="tabpanel" aria-labelledby="list-tab">

          <figure><figcaption><div class="gen-pdf"><a href="/pdf/multDivFrac/BLM 1 Tips for Using Arrays.pdf" target="_blank">Download PDF</a></div></figcaption>
            <img src="/images/multDivFrac/BLM 1 Tips for Using Arrays.jpg" alt="BLM 1" class="img-responsive margin-auto" /> </figure>
          <figure><figcaption><div class="gen-pdf"><a href="/pdf/multDivFrac/BLM 3 Bottling Maple Syrup.pdf" target="_blank">Download PDF</a></div></figcaption>
            <img src="/images/multDivFrac/BLM 3 Bottling Maple Syrup.jpg" alt="Cake Relay BLM 2" class="img-responsive margin-auto"/></figure>
          <figure><figcaption><div class="gen-pdf"><a href="/pdf/multDivFrac/BLM 4 Multiplication and Division Fractions Prompts.pdf" target="_blank">Download PDF</a></div></figcaption>
            <img src="/images/multDivFrac/BLM 4 Multiplication and Division Fractions Prompts.jpg" alt="Cake Relay BLM 3" class="img-responsive margin-auto"/></figure>
            <figure><figcaption><div class="gen-pdf"><a href="/pdf/multDivFrac/BLM 5 Mult Div Fractions across the K12 Curr v3.pdf" target="_blank">Download PDF</a></div></figcaption>
              <img src="/images/multDivFrac/BLM 5 Mult Div Fractions across the K12 Curr v3_Page_1.jpg" alt="Cake Relay BLM 3" class="img-responsive margin-auto"/></figure>
           <figure><figcaption><div class="gen-pdf"><a href="/pdf/multDivFrac/Models or Strategies for Multiplication and Division Involving Fractions (1).pdf" target="_blank">Download PDF</a></div></figcaption>
              <img src="/images/multDivFrac/Models or Strategies for Multiplication and Division Involving Fractions (1)_Page_1.jpg" alt="Cake Relay BLM 3" class="img-responsive margin-auto"/></figure>

        </div>
        <!-- Implementation TAB - LIST -->
        <div class="tab-pane fade" id="list2" role="tabpanel" aria-labelledby="list2-tab">

        </div>
        <!-- Student Thinking TAB - LIST -->
        <div class="tab-pane fade" id="list3" role="tabpanel" aria-labelledby="list3-tab">

        </div>
        <!-- Additional Resources TAB - LIST -->
        <div class="tab-pane fade" id="list4" role="tabpanel" aria-labelledby="list4-tab">

          <div class="row">
            <a href="/supportDocs/buildAddSub">
              <div class="col-sm-6 col-md-4">
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

  </section> <!-- End PDF page section -->
  <%- include partials/footer.ejs%>
