<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <!-- <li class="breadcrumb-item"><a href="/tasks">Activities</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./pathwayTasks">Tasks</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./op">Operations Tasks</a></li> -->
  <li class="breadcrumb-item active"><a href="/tasks/pathwayTasks">Classroom Resources</a></li>
  <li class="breadcrumb-item active">Banana Bread Bake Off</li>
</ol>

<main>

  <!-- Tasks Header -->
  <section class="container learningPathWays-title">
    <div class="row padding-bottom">
      <div class="col-sm-3 col-md-3 display-flex">
        <div id="triangle-bottomright" class="triangle-bottomright-purple"></div>
        <div id="rectangle" class="display-flex rectangle-purple">
          <p>OP-I</p>
        </div>
        <div id="triangle-topleft" class="triangle-topleft-purple"></div>
      </div>
      <div class="col-sm-6 col-md-6">
        <h1>Multiply any fraction by a whole number using models and symbols</h1>
      </div>
      <div class="col-sm-3 col-md-3">
        <figure>
          <a href="/#pathway-purple"><img src="/images/Fractions-Learning_pathway-purple.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
        </figure>
      </div>
    </div> <!-- End div.row -->
  </section>
  <!-- End Tasks Header -->

  <section class="container dot-lists pdf-page ">
    <!-- PDF page Section -->
    <section class="row gen-pdf-container">
      <div class="gen-pdf">
        <a href="/pdf/sugarCookies/T48_CookieQuestion_task_AODA.pdf" target="_blank">Download PDF</a>
      </div>
    </section>

    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Sugar Cookies</h1>
      </div>
    </section>


    <section class="row">
      <h4>Description</h4>
      <p>Using models to represent a baking challenge, students connect their knowledge of addition and
          multiplication of whole numbers to addition and multiplication of fractions.</p>

      <h4>Mathematics</h4>
      <p>The context of making multiple batches of a recipe introduces multiplication of a fraction by a whole
          number and allows students to make a connection to repeated addition as a strategy for multiplication of
          fractions. A mixed number adds complexity to the problem, which may lead students to combine several
          strategies to reach a solution. Students can connect their fraction number sense to their whole number
          sense through the models.</p>
    </section>

    <section class="row">
      <h4>Curriculum Connections</h4>
      <p>Students will:</p>
      <ul>
        <li>translate between equivalent forms of a number (i.e., improper fraction and mixed number);</li>
        <li>demonstrate the relationship between the repeated addition of fractions and the multiplication of a
            fraction by a whole number;</li>
        <li>use estimation when solving problems involving operations with whole numbers and fractions;</li>
        <li>solve problems involving multiplication with fractions and whole numbers.</li>
      </ul>
    </section>

    <section class="row">
      <h4>Instructional Sequence</h4>
      <ol>
        <li>Ask students to <u>estimate</u> the total amount of flour required to make five batches if one batch of a recipe calls for 
          <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>8</sub></span></abbr> cup of flour.</li>
        <li>Discuss estimation strategies, recording on chart paper for reference.</li>
        <li>Distribute BLM 1. Allow time for students to complete the task. Make manipulatives available for students to use. Probe and extend student thinking using the key questions.</li>
        <li>Consolidate thinking as a class by recording and explaining all the different strategies (refer to the sequence included in Student Thinking document).</li>
      </ol>
    </section>

    <section class="row">
      <div class="col-sm-6 col-md-6 no-padding-left">
        <h4>Highlights of Student Thinking</h4>
        <p>Students may:</p>
        <ul>
          <li>use repeated addition of whole numbers, then repeated addition of <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr> and combine those answers; </li>
          <li>model each of the seven sets, then combine parts to create wholes;</li>
          <li>break <abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr> into unit fractions and multiply the unit fraction by 21 (3×7);</li>
          <li>use a combination of strategies (i.e., multiplication for whole numbers, repeated addition for fractions); and</li>
          <li>convert 1<abbr title="one third" class="abbr-frac"><span class="frac"><sup>3</sup><span>&frasl;</span><sub>4</sub></span></abbr> into an improper fraction to multiply.</li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-6">
        <h4 class="title-indentation">Key Questions</h4>
        <ol>
          <li>Is your estimate reasonable? Why or why not?</li>
          <li>How does your model help represent the problem?</li>
          <li>Is there another model that can better represent the problem?</li>
        </ol>
      </div>
    </section>
    <!-- <abbr title="Blackline Master">BLM</abbr>  -->
    <section class="row">
      <h4>Materials</h4>
      <ul>
        <li>BLM 1 (one copy per student)</li>
        <li>Chart paper & markers</li>
        <li>1 cup measuring cup</li>
        <li> <abbr title="one third" class="abbr-frac"><span class="frac"><sup>1</sup><span>&frasl;</span><sub>4</sub></span></abbr> cup measuring cup </li>
        <li>Dry measuring material (i.e., sand)</li>
        <li>manipulatives (i.e., unit cubes, relational rods)</li>
      </ul>
    </section>

    <section class="row icons-tabs-section">
      <ul class="nav nav-tabs" id="icons-tabs" role="tablist">
        <li class="nav-item active">
          <a class="nav-link" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">
            <p><img src="../images/fractions-icons/Templates-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Templates</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list2-tab" data-toggle="tab" href="#list2" role="tab" aria-controls="list2" aria-selected="false">
            <p><img src="../images/fractions-icons/implementation-grey.png" alt="" width="80px" height="50px" /></p>
            <p>Implementation</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list3-tab" data-toggle="tab" href="#list3" role="tab" aria-controls="list3" aria-selected="false">
            <p><img src="../images/fractions-icons/student-thinking-icon-black.png" alt="" width="40px" height="50px" /></p>
            <p>Student Thinking</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="list4-tab" data-toggle="tab" href="#list4" role="tab" aria-controls="list4" aria-selected="false">
            <p><img src="../images/fractions-icons/Resources-icon-grey.png" alt="" width="40px" height="50px" /></p>
            <p>Additional Resources</p>
          </a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <!-- Templates TAB - LIST -->
        <div class="tab-pane fade in active" id="list" role="tabpanel" aria-labelledby="list-tab">

          <figure><figcaption><div class="gen-pdf"><a href="/pdf/sugarCookies/T48_SugarCookies_BLM_AODA.pdf" target="_blank">Download PDF</a></div></figcaption>
            <img src="/images/tasks/sugarCookies/T48_SugarCookies_BLM_v5.jpg" alt="Banana Bread Bake Off BLM 1" class="img-responsive margin-auto" /></figure>
          
        </div>
        <!-- Implementation TAB - LIST -->
        <div class="tab-pane fade" id="list2" role="tabpanel" aria-labelledby="list2-tab">

        </div>
        <!-- Student Thinking TAB - LIST -->
        <div class="tab-pane fade" id="list3" role="tabpanel" aria-labelledby="list3-tab">

          <figure><figcaption><div class="gen-pdf"><a href="/pdf/sugarCookies/T48_sugarcookie_Student Samples 1 and 2 AODA.pdf" target="_blank">Download PDF</a></div></figcaption>
            <img src="/images/tasks/sugarCookies/T48_sugarcookie_Student Samples 1 and 2.jpg" alt="Creating Sums Close to One Studing Thinking sample one and two" class="img-responsive margin-auto" /></figure>
          <figure><figcaption><div class="gen-pdf"><a href="/pdf/sugarCookies/T48_sugarcookie_Student Samples 3 and 4 AODA.pdf" target="_blank">Download PDF</a></div></figcaption>
            <img src="/images/tasks/sugarCookies/T48_sugarcookie_Student Samples 3 and 4.jpg" alt="Creating Sums Close to One Studing Thinking sample three and four" class="img-responsive margin-auto" /></figure>

        </div>
        <!-- Additional Resources TAB - LIST -->
        <div class="tab-pane fade" id="list4" role="tabpanel" aria-labelledby="list4-tab">

          <div class="row">
            <a href="/supportDocs/buildAddSub">
              <div class="col-sm-6 col-md-4">
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

  </section> <!-- End PDF page section -->
  <%- include partials/footer.ejs%>
