<%- include partials/header.ejs%>
<!-- Breadcrumbs -->

<main class="container">

  <section class="row padding-bottom">
    <div class="col-md-12 col-sm-12">
      <h1 id=""></h1>
    </div>
  </section>

  <section class="row">
    <h1>Thanks for your feedback!</h1>
<p>We appreciate that you took the time to send us feedback. Your feedback has been sent to the webmaster.</p>
<p><a href="/contact/">Back to feedback form</a>.</p>
  <%- include partials/footer.ejs%>
