<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <!-- <li class="breadcrumb-item"><a href="/tasks">Activities</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./pathwayTasks">Tasks</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./op">Operations Tasks</a></li> -->
  <li class="breadcrumb-item active"><a href="/tasks/pathwayTasks">Classroom Resources</a></li>
  <li class="breadcrumb-item active">Banana Bread Bake Off</li>
</ol>

<main>

  <!-- Tasks Header -->
  <section class="container learningPathWays-title">
    <div class="row padding-bottom">
      <div class="col-sm-3 col-md-3 display-flex">
        <div id="triangle-bottomright" class="triangle-bottomright-purple"></div>
        <div id="rectangle" class="display-flex rectangle-purple">
        </div>
        <div id="triangle-topleft" class="triangle-topleft-purple"></div>
      </div>
      <div class="col-sm-6 col-md-6">
          <h1 style="text-align: center"> Professional Learning Modules </h1>
      </div>
      <div class="col-sm-3 col-md-3">
        <figure>
          <a href="/#pathway-purple"><img src="/images/Fractions-Learning_pathway-purple.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
        </figure>
      </div>
    </div> <!-- End div.row -->
  </section>
  <!-- End Tasks Header -->

  <section class="container dot-lists pdf-page ">
    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Unit Fractions</h1>
      </div>
    </section>

    <section class="row">
      <p><a href="/pdf/unitFrac/UnitFractionsPresentationGuide_AODA.pdf"> Presentation Guide  </a> (pdf) </p>
      <p><a href="/pdf/unitFrac/UnitFractions_AODA.pptx"> PowerPoint (2.5h) </a> (pptx)  </p>
      <h4>Video</h4>
        <p><a href="/videos/unitFrac/DesktopFractionsVideoCC.mp4"> Desktop Fractions </a> (mp4) </p>
        <p style="text-indent: 20px"> Transcript (pdf) </p>
        <p><a href="/videos/unitFrac/BrownieSharingVideoCC.mp4">  Brownie Sharing </a> (mp4) </p>
        <p style="text-indent: 20px"> <a href="/pdf/transcripts/BrownieSharing_Transcript_AODA.pdf"> Transcript </a> (pdf) </p>
        <p>  Paper Folding </p>
        <p style="text-indent: 20px"> <a href="/pdf/transcripts/PaperFolding_Transcript_AODA.pdf"> Transcript </a> (pdf) </p>
        <p>  Checking Strategy 1 </p>
        <p style="text-indent: 20px"> <a href="/pdf/transcripts/CheckingStrategy1_Transcript_AODA.pdf">Transcript </a> (pdf) </p>
        <p>  Doubling Effect </p>
        <p style="text-indent: 20px"> <a href="/pdf/transcripts/DoublingEffect_Transcript_AODA.pdf" >Transcript </a> (pdf) </p>
        <p>  Counting Pieces </p>
        <p style="text-indent: 20px"> <a href="/pdf/transcripts/CountingPieces_Transcript_AODA.pdf">Transcript </a> (pdf) </p>
      <h4>Handouts</h4>
        <p><a href="/pdf/unitFrac/Fractions_UnitFractions.pdf"> Building Understanding of Unit Fractions </a>(pdf) </p>
        <p><a href="/pdf/unitFrac/LNSAttentionFractions.pdf"> Paying Attention to Fractions </a> (pdf) </p>
        <p><a href="/pdf/unitFrac/BLM1_CardSort_AODA.pdf"> BLM 1: Card Sort </a> (pdf)</p>
        <p><a href="/pdf/unitFrac/BLM2_CardSortAnswerKey_AODA.pdf"> BLM 2: Card Sort Answer Key </a> (pdf) </p>
        <p><a href="/pdf/unitFrac/UnitFractionsAcrosstheCurriculum_AODA.pdf"> Unit Fractions Across the Curriculum </a> (pdf)</p>
        <p><a href="/pdf/unitFrac/IHaveWhoHas_30Cards_AODA.pdf"> I Have..Who Has? 30 Game Cards </a> (pdf) </p>
        <p><a href="/pdf/unitFrac/IHaveWhoHas_10Cards_AODA.pdf"> I Have..Who Has? 10 Game Cards </a>(pdf) </p>
    </section>



  </section> <!-- End PDF page section -->
  <%- include partials/footer.ejs%>
