<%- include partials/header.ejs%>

<!-- Breadcrumbs -->
<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <!-- <li class="breadcrumb-item"><a href="/tasks">Activities</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./pathwayTasks">Tasks</a></li> -->
  <!-- <li class="breadcrumb-item"><a href="./op">Operations Tasks</a></li> -->
  <li class="breadcrumb-item active"><a href="/tasks/pathwayTasks">Classroom Resources</a></li>
  <li class="breadcrumb-item active">Banana Bread Bake Off</li>
</ol>

<main>

  <!-- Tasks Header -->
  <section class="container learningPathWays-title">
    <div class="row padding-bottom">
      <div class="col-sm-3 col-md-3 display-flex">
        <div id="triangle-bottomright" class="triangle-bottomright-purple"></div>
        <div id="rectangle" class="display-flex rectangle-purple">
        </div>
        <div id="triangle-topleft" class="triangle-topleft-purple"></div>
      </div>
      <div class="col-sm-6 col-md-6">
          <h1 style="text-align: center"> Professional Learning Modules </h1>
      </div>
      <div class="col-sm-3 col-md-3">
        <figure>
          <a href="/#pathway-purple"><img src="/images/Fractions-Learning_pathway-purple.png" alt="Fraction Learning Pathway" class="margin-auto" width="200"></a>
        </figure>
      </div>
    </div> <!-- End div.row -->
  </section>
  <!-- End Tasks Header -->

  <section class="container dot-lists pdf-page ">
    <section class="row padding-bottom">
      <div class="col-sm-12 col-md-12">
        <h1>Ways We Use Fractions</h1>
      </div>
    </section>

    <section class="row">
      <p><a href="/pdf/waysWeUseFractions/Fractions_WaysWeUse_PresentationGuide_AODA.pdf"> Presentation Guide </a> (pdf) </p>
      <p><a href="//pdf/waysWeUseFractions/Fractions_WaysWeUse.pptx"> PowerPoint (2.5h) </a> (pptx) </p>
      <h4>Handouts</h4>
        <p><a href="/pdf/waysWeUseFractions/Fractions_WaysWeUse_BLM1_ConstructHeadings_AODA.docx"> BLM1 Construct Headings </a> (docx) </p>
        <p><a href="/pdf/waysWeUseFractions/Fractions_WaysWeUseFractions.pdf"> Math Teaching for Learning: Ways we Use Fractions </a> (pdf)</p>
        <p><a href="/pdf/waysWeUseFractions/LNSAttentionFractions.pdf"> Paying Attention to Fractions </a> (pdf) </p>
        <p><a href="/pdf/waysWeUseFractions/P5_BLM1_Shapes.pdf"> Fraction Shape </a> (pdf) </p>
      <h4>Adobe Connect Support</h4>
        <p><a href="/pdf/waysWeUseFractions/Fractions_Ways_We_Use_Slide6and7_ACReplacement.pptx"> Slide 6 and 7 Replacement </a> (pptx) </p>
      <h4> AC Room Layouts (pdf) – 'coming soon' </h4>
    </section>



  </section> <!-- End PDF page section -->
  <%- include partials/footer.ejs%>
